<div class="mt-nav more-body">
  <div class="list-group">
    <a class="list-group-item" ui-sref="page.userCenter" ng-click="func.userCenter()">个人中心
      <div class="pull-right"><span class="glyphicon glyphicon-menu-right"></span></div>
    </a>
    <a class="list-group-item" ng-click="func.manual()">用户手册
      <div class="pull-right"><span class="glyphicon glyphicon-menu-right"></span></div>
    </a>
    <a class="list-group-item" ng-click="func.map()">离线地图
      <div class="pull-right"><span class="glyphicon glyphicon-menu-right"></span></div>
    </a>
    <a class="list-group-item" ng-click="func.refresh()">检查更新
      <div class="pull-right"><span class="glyphicon glyphicon-menu-right"></span></div>
    </a>
  </div>
</div>
