    <div class="col-xs-offset-2">
      <div class="bs-callout bs-callout-danger">
        <h5>{{title}}</h5>
      </div>
      <div class="bs-callout">
          <div class="mt-10 text-left">
            <div class="form-group row">
              <div class="col-xs-4">
                <a class="btn btn-success btn-lg btn-block" ui-sref="home.categoryAdd"> 添加分类 </a>
              </div>
              <div class="col-xs-4">
                <a class="btn btn-default btn-lg btn-block" href="{{site_url}}/temp_export/get_category"> 导出分类 </a>
              </div>
              <div class="col-xs-4">
                <a class="btn btn-default btn-lg btn-block" href="{{site_url}}/temp_export/get_template"> 导出产品模板 </a>
              </div>
           </div>
          </div>
          </div>

        <div class="table-responsive" style="margin-top:10px;">
          <table class="table table-bordered table-striped table-hover">
            <colgroup>
              <col class="col-xs-1">
              <col class="col-xs-1">
              <col class="col-xs-3">
              <col class="col-xs-2">
              <col class="col-xs-2">
              <col class="col-xs-3">
            </colgroup>
            <thead>
              <tr>
                <td class="text-center label-success"><h5>编号</h5></td>
                <td class="text-center label-success"><h5>分类权重</h5></td>
                <td class="text-center label-success"><h5>分类名</h5></td>
                <td class="text-center label-success"><h5>分类状态</h5></td>
                <td class="text-center label-success"><h5>上次更新时间</h5></td>
                <td class="text-center label-danger"><h5>操作</h5></td>
              </tr>
            </thead>
            <tbody ng-if="list.length===0">
              <tr>
                <td colspan="6" class="text-center"><h5>暂无数据</h5></td>
              </tr>
            </tbody>
            <tbody>
              <tr ng-repeat="item in list">
                <td class="text-center">
                  <h5>{{item.id}}</h5>
                </td>
                <td class="text-center">
                  <h5>{{item.weight}}</h5>
                </td>
                <td class="text-center">
                  <h5>
                    <a class="btn btn-info btn_mb5 btn-sm" ng-if="item.upid > 0" ng-click="getParent($index)">返回上级</a>
                    {{item.name}}
                    <a class="btn btn-info btn_mb5 btn-sm" ng-click="getChild($index)">查看下级&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                  </h5>
                </td>
                <td class="text-center">
                  <h5 ng-if="item.status == 1">有效</h5>
                  <h5 ng-if="item.status == 0">无效</h5>
                </td>
                <td class="text-center">
                  <h5>{{item.updated_time}}</h5>
                </td>
               <td class="text-center">
                  <h5>
                    <a class="btn btn-primary btn_mb5 btn-sm"
                      ui-sref="home.categoryEdit({id:item.id})">编辑分类</a>
                   <a class="btn btn-danger btn-sm btn_mb5" ng-click="setStatus($index, 0)" ng-show="item.status == 1">禁用分类</a>
                    <a class="btn btn-success btn-sm btn_mb5" ng-click="setStatus($index, 1)" ng-show="item.status == 0">启用分类</a>
                 </h5>
                </td>
              </tr>
            </tbody>
          </table>
         </div>
        <nav>
          <dachu-pagination conf="paginationConf"></dachu-pagination>
        </nav>
      </div>
    </div>
  </div>
</div>
