<div ng-show="wait">
  <div class="wait"></div>
  <progressbar class="progress-striped active" value="100" type="info"><i>查询数据中，请稍等</i></progressbar>
</div>
<form ng-submit="check_code()">
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<a ui-sref="index" class="btn btn-info pull-left">&lt;</a>
					<h3 class="panel-title sort-title main-h3">发运扫码</h3>
					<a ng-click="logout()" class="btn btn-info pull-right">退出</a>
				</div>
				
				<div class="panel-body">
					<img src="assets/images/logo.png">
					<p ng-show="error" class="{{error.cls}}">{{error.msg}}</p>
					<div class="input-group input-group-lg">
						<span class="input-group-addon">配送单号</span>
						<input ng-model="code_number" id="autofocus" autofocus ng-focus="true"  type="text" class="form-control input-fix" maxlength="14" placeholder="请扫描或输入配送路线单号"></div>
					<button type="submit"  class="btn btn-success btn-lg form-control btn-a">确认</button>
				</div>
			</div>
		</div>
	</div>
</form>
