<div class="warp-page container-fluid">
 <div class="row block">
  <form class="form-horizontal" role="form" ng-submit="changePassword()" name="passwordForm">
    <div class="form-group col-xs-12 pt-10">
      <label for="password" class="col-sm-2 control-label">
        <h5>
          <b>旧密码</b>
        </h5>
      </label>
      <div class="col-sm-10">
        <input type="password" required class="input-lg form-control" ng-model="reg.password" id="password" placeholder="请输入您的旧密码" ng-minlength="6" name="oldpassword">
        <div class="col-xs-12  block-col label label-danger" ng-show="passwordForm.oldpassword.$invalid">
          <small ng-show="passwordForm.oldpassword.$error.minlength">旧密码至少6位</small>
          <small ng-show="passwordForm.oldpassword.$error.required">旧密码必填</small>
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <label for="newpassword" class="col-sm-2 control-label">
        <h5>
          <b>新密码</b>
        </h5>
      </label>
      <div class="col-sm-10">
        <input type="password" required class="input-lg form-control" ng-model="reg.newPassword" id="newPassword" placeholder="请输入您的新密码" ng-minlength="6" name="password">
        <div class="col-xs-12  block-col label label-danger" ng-show="passwordForm.password.$invalid">
          <small ng-show="passwordForm.password.$error.minlength">密码至少6位</small>
          <small ng-show="passwordForm.password.$error.required">密码必填</small>
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <label for="newpassword" class="col-sm-2 control-label">
        <h5>
          <b>重复输入新密码</b>
        </h5>
      </label>
      <div class="col-sm-10">
        <input type="password" required class="input-lg form-control" ng-model="reg.newRePassword" id="newRePassword" ng-blur="passwordCheck()" ng-minlength="6" placeholder="请再次输入您的新密码" name="repassword">
        <div class="col-xs-12  block-col label label-danger" ng-show="passwordForm.repassword.$invalid">
          <small ng-show="passwordForm.repassword.$error.minlength">确认密码至少6位</small>
          <small ng-show="passwordForm.repassword.$error.required">确认密码必填</small>
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <div class="row block-btn col-sm-10">
        <div class="col-xs-12">
          <button ng-disabled="checked" type="submit" class="btn btn-block btn-success btn-lg">修改密码</button>
        </div>
      </div>
    </div>
  </form>
  <!--login form end-->
</div>
