<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
<h3 class="modal-title">{{items.headerText}}</h3>
</div>
<div class="modal-body">
<h2 class="text-center">{{items.bodyText}}</h2>
</div>
<div class="modal-footer">
<button tjid class="btn btn-primary" ng-click="items.ok();cancel();" ng-if="items.actionText">
{{items.actionText}}
</button>
<button tjid class="btn btn-warning" ng-click="items.close();cancel()">{{items.closeText}}</button>
</div>
</script>
<div class="warp-page container-fluid diy_center" ng-show="!showLoading">
  <div class="row block b_b_0">
    <div class="col-xs-12">
      <a tjid ui-sref="page.info" class="text-333 info_header" >
        <h4 class="pull-left  hei-60 -m-t-15">
          <span class=" middle wh-60">
            <img ng-src="/assets/images/man_center.png" class="scale5 origin-0">
          </span>
          <span class="m-l-10 middle  m-l-50">{{uinfo.mobile}}</span></h4>
        <h5 class="pull-right text-333 mt-33"><span class="glyphicon glyphicon-chevron-right text-gray"></span></h5>
      </a>
    </div>
  </div>
  <div class="row block b_b_0">
    <div class="col-xs-12 br-b-1">
      <h4 class="green ">
        <div class="inline hw-20 -ml-10 pt-5">
          <span class="pr sprite sprite-my_order scale5"></span>
        </div>
        我的订单</h4>
    </div>
    <div class="col-xs-12 block-col center_nav p-tb-15 b_b_0">
      <div class="col-xs-3  pr p-0">
        <a tjid ng-href="/order/list/1" class="text-primary">
          <div class="text-center hei-24">
            <span class="pr sprite sprite-wati_ok scale5 hei-40">
              <span class="badge  white_bg orange_br orange" ng-show="order[1] !== 0">{{order[1]}}</span>
          </span></div>
          <h5 class="text-center m-0">待审核
          </h5>
        </a>
      </div>
      <div class="col-xs-3  pr">
        <a tjid ng-href="/order/list/11" class="text-primary">
          <div class="text-center hei-24">
            <span class="pr sprite sprite-wati_sh scale5">
              <span class="badge  white_bg orange_br orange" ng-show="order[11] !== 0">{{order[11]}}</span>
          </span></div>
          <h5 class="text-center m-0">待收货
          </h5>
        </a>
      </div>
      <div class="col-xs-3 pr">
        <a tjid ng-href="/order/list/21" class="text-primary">
          <div class="text-center hei-24">
            <span class="pr sprite sprite-order_success scale5">
              <span class="badge  white_bg orange_br orange" ng-show="order[21] !== 0">{{order[21]}}</span>
          </span></div>
          <h5 class="text-center m-0">已收货
          </h5>
        </a>
      </div>
      <div class="col-xs-3  pr">
        <a tjid ng-href="/order/list/31" class="text-primary">
          <div class="text-center hei-24">
            <span class="pr sprite sprite-order_close scale5">
              <span class="badge  white_bg orange_br orange" ng-show="order[31] !== 0">{{order[31]}}</span>
          </span></div>
          <h5 class="text-center m-0">已取消
          </h5>
        </a>
      </div>
    </div>
  </div>

  <div ng-if="uinfo.billing_cycle != 'none' && uinfo.billing_cycle != ''" class="row block b_b_0">
    <div class="col-xs-12">
      <a class="btn-block clearfix" tjid ui-sref="page.billList">
        <h4 class="green pull-left flex_c ">
          <div class="inline hw-20 -ml-10 mr-5">
            <span class="pr sprites sprite-bill scale5 "></span>
          </div>
          我的账单</h4>
        <h5 class="pull-right text-333"><span class="glyphicon glyphicon-chevron-right text-gray"></span></h5>
      </a>
    </div>
  </div>
  <div class="row block b_b_0">
    <div class="col-xs-12">
      <a class="btn-block clearfix" tjid ui-sref="page.often">
        <h4 class="green pull-left">
          <div class="inline hw-20 -ml-10 pt-5 mr-5">
            <span class="pr sprites sprite-often scale5 "></span>
          </div>
          经常购买</h4>
        <h5 class="pull-right text-333"><span class="glyphicon glyphicon-chevron-right text-gray"></span></h5>
      </a>
    </div>
  </div>
  <div class="row block b_b_0">
    <div class="col-xs-12">
      <a class="btn-block clearfix" ui-sref="page.coupon">
        <h4 class="green pull-left flex_c ">
          <div class="inline hw-20 -ml-10 pt-2 mr-5">
            <span class="pr sprite sprite-my_info scale5 "></span>
          </div>
          我的优惠劵</h4>
        <h5 class="pull-right text-333"><span class="orange">{{valid_coupon_nums||0}}</span>  张优惠劵可用<span class="glyphicon glyphicon-chevron-right text-gray"></span></h5>
      </a>
    </div>
  </div>
  <div ng-if="uinfo.account_type == '1'" class="row block b_b_0">
    <div class="col-xs-12">
      <a class="btn-block clearfix" tjid ui-sref="page.subaccount">
        <h4 class="green pull-left flex_c ">
          <div class="inline hw-20 -ml-10 mr-5">
            <span class="pr sprites sprite-subaccount scale5 "></span>
          </div>
          子帐号管理</h4>
        <h5 class="pull-right text-333"><span class="glyphicon glyphicon-chevron-right text-gray"></span></h5>
      </a>
    </div>
  </div>

</div>
