<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
<h3 class="modal-title">{{items.headerText}}</h3>
</div>
<div class="modal-body">
<h2 class="text-center">{{items.bodyText}}</h2>
</div>
<div class="modal-footer">
<button tjid class="btn btn-primary" ng-click="items.ok();cancel();" ng-if="items.actionText">
{{items.actionText}}
</button>
<button tjid class="btn btn-warning" ng-click="items.close();cancel()">{{items.closeText}}</button>
</div>
</script>
<div class="warp-page container-fluid diy_center" ng-show="!showLoading">
  <div class="row block">
    <div class="col-xs-12">
      <h4 tjid class="p-0 m-0 line-40 col-xs-6 text-center " ng-class="{green_active: !current}" ng-click="active()"> 可用({{coupon.ucenterList.active_data.length}})</h4>

      <h4 tjid class="p-0 m-0 line-40 col-xs-6 text-center" ng-class="{green_active: current }" ng-click="no_active()"> 不可用({{coupon.ucenterList.inactive_data.length}})</h4>
    </div>

  </div>

  <div class="row mb-10" ng-show="!current">

  <div class="row block-col block" active_class="autoHeight" ng-show="coupon.ucenterList.active_data && coupon.ucenterList.active_data.length ==  0 ">
    <div class="col-xs-12 text-center pt-10 pb-10">

      <img  ng-src="assets/images/no_bg.png" class="zoom5 mt-100">
      <h4 class="text-gray">暂时没有符合条件优惠劵</h4>
    </div>
  </div>


    <div class="col-xs-12 mb-10 white_bg" ng-repeat="item in coupon.ucenterList.active_data track by $index" ng-show="item.status == 1 || item.status == 2 ">

      <div class=" col-xs-4 text-center sz-24 sprite-green_3_bg sprite_bg white " >
        <span class="zoom2 text-center line-80">￥{{item.detail.minus_amount}}</span>
      </div>

      <div class="col-xs-8 white_bg  p-0 pl-10">
        <p class="mt-10 mb-0" ng-show="item.detail.require_amount > 0">满<span class="green">{{item.detail.require_amount}}</span>元可用<br><span>({{item.detail.description}})</span></p>

        <p class="mt-10 mb-0" ng-show="item.detail.require_amount == 0">{{item.detail.rule_type_cn}}<br><span>({{item.detail.description}})</span></p>

        <p class="text-gray text-12">有效期{{item.detail.valid_time}}至{{item.detail.invalid_time}}</p>
        <span class="line-80 green coupon_tips" ng-show="item.status == 1">已生效</span>
        <span class="line-80 orange coupon_tips" ng-show="item.status == 2">未生效</span>
      </div>
    </div>
  </div>


  <!-不可用-!>
  <div class="row mb-10" ng-show="current">

  <div class="row block-col block"  active_class="autoHeight" ng-show="coupon.ucenterList.inactive_data && coupon.ucenterList.inactive_data.length ==  0 ">
    <div class="col-xs-12 text-center pt-10 pb-10">

      <img  ng-src="assets/images/no_bg.png" class="zoom5 mt-100">
      <h4 class="text-gray">暂时没有符合条件优惠劵</h4>
    </div>
  </div>
    <div class="col-xs-12 mb-10 white_bg pr"  ng-repeat="item in coupon.ucenterList.inactive_data track by $index" ng-show="item.status == 3 || item.status == 4">

      <div class=" col-xs-4 text-center sz-24  sprite_bg white " ng-class="{spriteGrayBg: item.status == 4 , spriteYellowBg: item.status == 3 }">
        <span class="zoom2 text-center line-80">￥{{item.detail.minus_amount}}</span>
      </div>

      <div class="col-xs-8 white_bg  p-0 pl-10">

        <p class="mt-10 mb-0" ng-show="item.detail.require_amount > 0">满<span class="green">{{item.detail.require_amount}}</span>元可用<br><span>({{item.detail.description}})</span></p>

        <p class="mt-10 mb-0" ng-show="item.detail.require_amount == 0">{{item.detail.rule_type_cn}}<br><span>({{item.detail.description}})</span></p>

        <p class="text-gray text-12">有效期{{item.detail.valid_time}}至{{item.detail.invalid_time}}</p>

        <span class="line-80 orange coupon_tips" ng-show="item.status == 4">已过期</span>
        <span class="line-80 orange coupon_tips" ng-show="item.status == 3">已使用</span>
      </div>
    </div>
  </div>
</div>
