<div class="warp-page container-fluid mb-nav">
  <form class="row block block-col form-horizontal" role="form" novalidate  ng-submit="changePassword()" ng-controller="UserPasswordController" name="passwordForm">
    <div class="form-group col-xs-12 pt-10 ml-0">
      <label for="password" class=" control-label">
        <h5>
          <b>旧密码</b>
        </h5>
      </label>
      <div class="">
        <input type="password" required class="input-md form-control" ng-model="reg.password" id="password" placeholder="请输入您的旧密码" ng-minlength="6" name="oldpassword">
      </div>
    </div>
    <div class="form-group col-xs-12 ml-0">
      <label for="newpassword" class=" control-label">
        <h5>
          <b>新密码</b>
        </h5>
      </label>
      <div class="">
        <input type="password" required class="input-md form-control" ng-model="reg.newPassword" id="newPassword" placeholder="请输入您的新密码" ng-minlength="6" name="password">
      </div>
    </div>
    <div class="form-group col-xs-12 ml-0">
      <label for="newpassword" class=" control-label">
        <h5>
          <b>重复输入新密码</b>
        </h5>
      </label>
      <div class="">
        <input type="password" required class="input-md form-control" ng-model="reg.newRePassword" id="newRePassword"  ng-minlength="6" placeholder="请再次输入您的新密码" name="repassword">
      </div>
    </div>
    <div class="form-group alert_box mg col-xs-12 ml-0" ng-show="passwordForm.$invalid && passwordForm.$dirty && show_error">
      <div class="">
        <div class="alert alert-danger min_alert" style="margin-bottom: 0px">
          <ul>
            <li ng-show="passwordForm.oldpassword.$error.minlength">旧密码至少6位</li>
            <li ng-show="passwordForm.oldpassword.$error.required">旧密码必填</li>
            <li ng-show="passwordForm.password.$error.minlength">密码至少6位</li>
            <li ng-show="passwordForm.password.$error.required">密码必填</li>
            <li ng-show="passwordForm.repassword.$error.minlength">确认密码至少6位</li>
            <li ng-show="passwordForm.repassword.$error.required">确认密码必填</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12 ml-0">
      <div class="row block-btn ">
        <div class="col-xs-12">
          <button tjid  type="submit" class="btn btn-block btn-success orangebtn btn-lg">确认修改</button>
        </div>
      </div>
    </div>
  </form>
  <!--login form end-->
</div>
