.ml-10
    margin-left 10px
.mb-10
    margin-bottom 10px
.orderinfo
    .my-label-waited
        span
            color #fff
            padding 5px
            border-radius 4px
            background #f1c40e
    .my-label-process
        span
            color #fff
            padding 5px
            border-radius 4px
            background #3398db
    .my-label-finish
        span
            color #fff
            padding 5px
            border-radius 4px
            background #2ecc71
    .my-label-back
        span
            color #fff
            padding 5px
            border-radius 4px
            background #e74c3c
    .my-label-none
        span
            color #fff
            padding 5px
            border-radius 4px
            background #95a5a6
.orderinfo_dl
    .my-label-waited
        span
            color #fff
            padding 5px
            border-radius 4px
            background #f1c40e
    .my-label-process
        span
            color #fff
            padding 5px
            border-radius 4px
            background #3398db
    .my-label-finish
        span
            color #fff
            padding 5px
            border-radius 4px
            background #2ecc71
    .my-label-back
        span
            color #fff
            padding 5px
            border-radius 4px
            background #e74c3c
    .my-label-none
        span
            color #fff
            padding 5px
            border-radius 4px
            background #95a5a6
.cdetail_load
    position fixed
    top 80px
    left 0
    right 0

.cdelist .list-group .phone
    display inline-block
    color green
.cdelist .list-group .address a
    display inline-block
    color red
.phone-color
    color #5cb85c!important
.cdetail_wp
    min-height 550px
    margin-top 43px
.cdelist
    ul
        li
            border-bottom 1px solid #eaeaea
            padding 10px 0px
            list-style-type none
            a
               color #777
               font-size 16px
               margin-left 10px

.cdelist ul li
    overflow hidden

.adress_text
    width 150px
.panel-heading
    .accordion-toggle
        display block

.cdedl
    padding 10px
    dt,dd
        font-weight bold
        padding 10px 0
        border-bottom 1px solid #eaeaea
    dd
        font-weight normal
.orderinfo
    .col-xs-3
        padding 0 5px
    .col-xs-3:last-child
        text-align center
.user_state
    margin 0
    background #fff
    padding 10px
.user_state
    border-bottom 1px solid #eaeaea

.user_state
    .orderinfo
        color #333
        overflow hidden
        margin 0 -5px
        display block
.orderinfo_wp
    background #fff
    padding 0 10px

.orderinfo_wp
    dd
        text-align center
    .orderconf
        dt
            float none
        dd
            float none
            padding 10px 0
            border-bottom 1px solid #e7e7e7
    dt
        text-align center
        margin-bottom 10px
        padding 3px 0 3px 10px
        font-weight bold
    dl
        margin 0
        padding 10px 0
        border-bottom 1px solid #eaeaea

.sea-flex
    overflow hidden
    padding 5px 0px
.sea-flex li
    width 40%
    float left
.sea-flex li.chose_btn
    width 20%
.orderinfo_dl
    overflow hidden
    dt
        float left
    dd
        padding 3px 7px
        float right
    dd.label-default
        background #777
    dd.label-success
        background #5cb85c
    dd.label-info
        background #5bc0de
    dd.label-danger
        background #d9534f

.page
    background #fff
    text-align center
.img_b
    padding 0

.img_block
    display inline-block
    width 100%
    padding 0 5px

.shopinfo_icon
    padding 0
    top -3px
    font-size 20px

.lightbox-nav .btn-group
    a:nth-child(2)
        display none

.close_m_btn
    color: #d58512;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    z-index: 99;


.lightbox-image-container span
    position: absolute;
    right: 5px;
    top: 50%;
    color: #d58512;
    z-index: 19;
    font-size: 40px;
    text-shadow: -1px 1px 3px #565454;
    margin-top: -20px;

.lightbox-image-container span:first-child
    left: 5px;
    right: auto;

.ask_cdetail{
    p{
        text-indent:2em;
    }
}
.total_data{
    span{
        padding:5px 10px;
    }
}









