.head-bottom
  position fixed
  z-index 98
  background #fff
  line-height 40px
  text-align center
  left 0
  right 0
  .active a
    display  block
    border-bottom  3px solid #ff6601
    font-size  16px
    color  #ff6601
  a
    color #333
    font-size  16px

.head-top
  line-height 25px
  .col-xs-4
      padding 0 5px
  a
    color white
  .backup
    font-size 16px
    padding 0
  .listname
    font-size 18px
    text-align center
    padding 0
  .call
    font-size 16px
    text-align right
    padding 0
.orderlist-bd
    border-top $border
    padding 10px 0

.seconedlist-ul
  list-style-type none
  background #fff
  padding-left 0
  li
      background #fff
      margin-bottom 15px
      border-bottom $border
.group-item
    overflow hidden
