body
    background #e5e5e5

.warp-page
    position static
    margin-top 41px
    left 0
    right 0
    margin-bottom 53px
    overflow-y auto
    -webkit-overflow-scrolling touch

.head
    position fixed
    left 0
    top 0
    width 100%
    background #ff6601
    padding 8px
    color white
    overflow hidden
    box-shadow 0px 0px 5px #666
    z-index 99
    .h1
        font-size @padding*3+@padding/2
        font-weight bold
        margin 0
    i
        font-size @padding*3+@padding/2
        font-weight 100
    .h1-r
        font-size @padding*2
        font-weight bold
        margin-right 5px

.title_h2
    font-size 18px
    color #868686
    margin 0 15px

.sec_b
    margin-top 10px
    .list-group
        li
            background white
            box-shadow 0px 0px 6px #333
            margin 10px 0 0 0
            font-size 18px
            line-height 3
            padding 0 15px

.list-group a
    display block

.i_list
    .row
        border-bottom 1px solid #ccc
        background white
        .col-xs-3
            text-align center
            display block
            height 122px
            border-right 1px solid #ccc
            padding 10px 0
        .col-xs-9
            margin-left -1px
            border-left 1px solid #ccc
            padding 5px
.order-ul
    padding-left:0
    list-style-type:none
    li
        background:#fff
        a
            color:black
.order-hd
.group-item
.order-bd-bottom
    border-bottom:1px solid #eee
    padding:10px

.group-item
    border-top:1px solid #eee

.item-box
    padding:10px
    background:#fff
    margin-bottom:15px
    select
        width:100%
        margin-bottom:15px
.item-boxs
    .btn-wrap
        bottom:0;

.i_class
    border-left 1px solid #ccc
    a
      padding: 8px 12px;
      font-size: 18px;
      color: #FF7400;
      background: rgba(255, 204, 1, 0.04);
      margin: 7px 8px;
      display: inline-block;
      border-radius: 4px;

.z-add
    position absolute
    left 0
    right 0
    background white
    line-height 3
    border-bottom $border
    padding 0 15px

/*-------弹出层-------*/
.modal-b
    background rgb(0,0,0,.5)
    position absolute
    top 0
    right 0
    left 0
    bottom 0

/*------我的订单无底部----*/
.myorder
    bottom 0
    .btn-wrap
        position initial
        margin-bottom:25px

/*-----底部导航调整-------*/
/*----------------*/

.orderbody
    .order-hd
        margin-bottom 15px
    .flex-nav
        margin-bottom 15px

.item-box h4
    border-bottom $border
    padding 0 15px 10px 15px
    margin 15px -15px

/*------block-------*/
.block
    background white
    margin-bottom 10px
    border-bottom $border
    .block-col
        border-bottom $border
        padding-top 5px
        padding-bottom 5px


