/*------通用设置------------*/
input[type=text] , input[type=password] , input[type = reset] , input[type = number]{
    -webkit-appearance:none !important;
}
h4, .h4, h5, .h5, h6, .h6{
  margin-top : 8px  ;

  margin-bottom : 8px ;
}
.pl-0
  padding-left 0
.pl-15
  padding-left 15px !important
.pl-10
  padding-left 10px !important
.m-r-20
    margin-right 20px!important
.pl-5
  padding-left 5px !important
.pl-20
  padding-left 20px !important
.pr-0
  padding-right 0
.mb-0
  margin-bottom 0 !important;
.pr-10{
 padding-right:10px !important;
}
.pr-5{
 padding-right:5px !important;
}
.br-0  {
  border:0 !important ;
}
.b-t-1{
  border-top : 1px solid #eee;
 }
.p-tb-5{
 padding-top: 5px ;
 padding-bottom : 5px;
}
.m-0
  margin:0 !important
.ml-0
  margin-left 0 !important
.pd-0{
    padding:0;
}
.pr{
    position:relative;
}
.p-tb-15{
  padding-top:15px !important;

  padding-bottom:15px !important;
}
.pl-10{
   padding-left: 10px !important ;
    }
.p-b-0{
    padding-bottom : 0 !important;
 }

$orange = #fb9c15;
$gray = #f2f2f2;
 $green = #549235;
 $white = #fff;
$lightGreen = $orange;
$f6 = #f6f6f6;
$red = #f73b3b;
$eee = #eee;
.f6_bg{
  background : $f6 !important;
}
.eee_bg{
  background : $eee !important;
}
.red{
  color : $red;
}
.br-l-2{
  border-left: 2px solid $green;
}
.btn-lightGreen{
 background:$lightGreen !important;
 color: $white !important;
}
.btn-gray{
        background #BCBDBE
        color #fff
    }
.text-ov{

    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-16{
  font-size:16px !important;
}
.text-14{
  font-size:14px !important;
}
.mt-0 , .mt_0{
  margin-top:0px !important;
}
.pd-10{
    padding:10px;
}
.pt-10{
    padding-top:10px;
}

.pt-0{
    padding-top:0px !important;
}
.p-tb-10{
  padding:10px 0 !important;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-50{
    padding-bottom: 50px;
}
.mt-10{
  margin-top:10px !important;
}
.m-l-5{
  margin-left:5px !important ;
}
.pt-5{
    padding-top:5px;
}
.-ml-10{
 margin-left : -10px;
}
.list-none{
  list-style: none;
}
.hei-24{
  height:24px !important;
 }
.p-b-90{
  padding-bottom : 90px;
}
 .line-30{
   line-height : 30px;
 }
.mb-10{
    margin-bottom:10px
}
.line-36{
  line-height:30px;
}
.min-500 >div{

  height:100%;
  overflow-y:scroll;
}
.mt-81{
 margin-top:81px !important ;
}
.nav_list{
  overflow-x:auto;
  overflow-y:hidden;
  -webkit-overflow-scrolling : touch;
}
.nav_list > ol{
  clear:both;
  width:100%;
  white-space:nowrap;
}

.nav_list li{

padding: 10px 8px ;
display:inline-block;
}
.cart_btn{
  padding : 4px 10px !important;
}
.often{
margin-top: -14px;
  margin-left: -6px;
}
.info_header{
    display: block;
    overflow: hidden;
    height: 90px;
}
.-m-t-15{
  margin-top:-15px;
}
.nav_mask{
    position : absolute;
    top:0;
    bottom:0;
    left : 0;
    right : 0;
    text-align : center ;
    line-height:42px;
    font-weight : bold;
    color : #fff;
    background-color: rgba(0,0,0,0.7);
    font-size:18px;
}

.search_rm_box{
    width:30px;
    height:30px;
    z-index: 99;
    position: absolute !important;
    right: 0px;
    top: -1px;
}
.hei-40{
 height : 40px !important;
}
.recommend{
    border-left : 1px solid $eee;
}
.recommend > div{
    border-right : 1px solid $eee;

    border-bottom : 1px solid $eee;
    padding : 5px;
    padding-top : 0;
}
.search_rm{
    background-color: #ccc;
    z-index: 99;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
}
.ml-10{
 margin-left :10px;
}
.m-lr-10{
  margin-left :10px;
  margin-right :10px;
}
.m-0{
  margin:0 !important;
}
.m-t-41{
  margin-top: 41px
 }
.m-t-0{
 margin--top: 0 !important
 }
.r-0{
    right:0 !important;
}
.m-l-10{
 margin-left: 10px;
}
.middle{
  vertical-align:middle ;
}
.m-5-5{
    margin:5px -5px;
}
.mt-33{
  margin-top:33px !important;
}
.search_box{
  position: absolute;
  top:-3px;
}
.text-18{
 font-size:18px !important ;
}
.man_bg{

    width:100%;
    height:180px;

    background-image: url(/assets/images/man_bg.jpg);
    background-size : 100%;
    text-align : center;
}
$gray = #ccc;
.br-b-1{
  border-bottom: 1px solid $gray;
 }
.diy_icons{
 font-size:14px;
 color: #789E65 !important;
}
.close_m_btn{
   color: #d58512;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    line-height: 40px;
    z-index:99 ;
}
.w_auto{
    width : auto !important ;
    }
.modal-backdrop{
  position:fixed ;
  bottom:0 !important ;
}
 .br_gray{
    border:1px solid $gray;
 }
 .br_b_2{
  border-bottom:2px solid $green;

  color: $green !important ;
}
.br_b_2 a{
  color: $green !important ;
 }
 .none{
   display: none;
 }
 .fadeOut{
     animation-name : fadeOut;
     display: none ;
 }
 .animated {
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }
 .mt-100{
  margin-top:30%;
 }
@-webkit-keyframes arrow_tips {
     0% {
      transform: translate3d(0, -10px, 0);
     }

     100% {
      transform: translate3d(0, 10px, 0);
     }
 }
.arrow_tips {
     animation-name : arrow_tips;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
 @-webkit-keyframes fadeOut {
     0% {
         opacity: 1;
     }

     100% {
         height : 0;
         width : 0;
         opacity: 0;
     }
 }
 .hei-68 > div{
  height :68px;
  overflow : hidden ;
}
 .hei-30{
 height:  30px !important ;
 }
 .b-rd-0{
   border-radius : 0 !important;
 }

 .b_b_0{
  border-bottom : 0 !important ;
 }
 .orangebtn{
    border-color:$orange !important;
    background: $orange !important;
    color:$white !important;
 }
 .grren{
    color: $green;
    }
 .greenB_whiteF{
   background:#39792F;
   color:#fff;
 }
.diy_label{
   height:25px;
   line-height:25px;
   text-align:center;
   color:$white;
 }
.hot_list > div:first-child{
  margin:0;
}
.hot_list img{
width:100%;

}
.text-16{
  font-size:16px;
}
.br-rb-1{
 border-right : 1px solid $eee;

 border-bottom : 1px solid $eee;
}
.img-w h4{
  font-size:16px ;
  margin-bottom: 5px ;
}

.m-r-5{
    margin-right: 5px !important;
    }
.zoom5{
    zoom:0.5;
    }
.scale5{
  transform: scale(0.5);
    transform-origin: 50% 0
}
.flex{
  display:flex;
  align-items : center ;
}
.flex_c{
  display:flex;
}
.origin-0{
  transform-origin : 0;
}
.hei-60{
 height : 60px;
}
.m-l-50{
 margin-left : -50px;
}

.p-5{
    padding:5px !important;
    }
.mb-10{
    margin-bottom:10px !important ;
    }
.b-r-0{
    border-radius:0 !important;
    }
.p-0{
    padding:0 ;
    }
.p-lr-15{
    padding:0  15px !important;
    }

.p-lr-10{
    padding:0  10px !important;
    }
.b-0{
    border:none !important ;
    }
.text-333{

    color:#333 !important;
}
.text-12{
font-size:12px ;
 }
body{
 overflow:hidden ;
}

 .list_none{
    list-style:none;
    }
 .line_bd{
background:$green;
margin-bottom:15px;
height:2px;
    }
 .table-bordered > tbody > tr > td{
    border-color:#000;
    }
.diy_label::after{
    content : '';
    width:18px;
    height : 18px;
    background:$green;
    position:absolute;
    transform : rotate(45deg);
    right:-9px;
    top:4px;


}
.diy_green{
    background: #549235 ;
}
.badge{
 font-weight : normal !important ;
}
.diy_block
  display:block
.mr-0
  margin-right 0
.mr-5{
 margin-right : 5px ;
}
.mt-nav
  margin-top 43px !important
.mb-nav
  margin-bottom 30px !important
//  margin-bottom 50px !important
.pt-10
  padding-top 10px
.pb-10
  padding-bottom 10px
.w100
  width 100%
$orange = #fb9c15

$a5a5a5 = #6E6E6E;
.greenB_textF{
  background : $green;
  color : $white !important;
}
.title
  color $a5a5a5
  font-size 14px


.f_right
    float:right
.f_left
    float:left
$border = 1px solid #eee
.glyphicon
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale

a
  color:#fff
  text-decoration: none !important

.fix-bottom
    position:fixed;
    z-index:999
    bottom:0
    left:0
    width 100%

.text-gray{
  color:#ccc !important ;
}
.inline{
  display: inline-block !important;
}
.action-nav
    height:53px
    overflow:hidden
    text-align:center
    background:#090909
    color:white
    a
        font-size:12px
        color: #333
        span
            margin-bottom:6px

.action-nav a
    padding:8px 5px 5px!important
    span
        font-size:20px
        display:block

.join-order
    margin-top:70px
orange = #fb9c15

.orange
    color orange !important ;
.orange_bg{
   background : orange !important;
}
.orange_br{
    border:1px solid orange !important;
    }
.white_bg{
    background : #fff !important ;
    }
.text-white{
  color: $white;
}
.origin
    color:#fb9c15
    font-size:16px
    margin 0 5px
.line-through
    text-decoration:line-through
.btn-wrap
    position:absolute
    bottom:60px
    left:0
    right:0
    .btn-orange
         background:orange
         color:white
         font-size:16px
.action-nav
  .col-xs-3
    margin 0
    padding 0

.pic
  zoom 0.5

/*------flex center-------*/
.center_nav  .badge{
  position:absolute;
  right:-15px;
  top:-12px;
  zoom:2;
}
.sprite-wati_ok {
    width: 33px;
    height: 33px;
    background-position: -196px -94px;
}
.sprite_bg {
    background-image: url(/assets/images/money_bg.png);
    background-repeat: no-repeat;
    display: inline-block;
    zoom:.5;
}

.sprite-gray_2_bg {
    width: 181px;
    height: 120px;
    background-position: -5px -5px;
}
.spriteGrayBg{
    width: 181px;
    height: 161px;
    background-position: -196px -5px;
}

.sprite-green_2_bg {
    width: 181px;
    height: 120px;
    background-position: -5px -176px;
}

.sprite-green_3_bg {
    width: 181px;
    height: 160px;
    background-position: -196px -176px;
}

.sprite-yellow_2_bg {
    width: 181px;
    height: 120px;
    background-position: -387px -5px;
}

.spriteYellowBg {
    width: 181px;
    height: 160px;
    background-position: -387px -135px;
}
.sprite {
    background-image: url(/assets/images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.sprites {
    background-image: url(/assets/images/spritesheet1.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.sprite-subaccount{
    width:32px;
    height:35px;
    background-position:-130px -70px;
}
.sprite-often{
    width:32px;
    height:40px;
    background-position:-71px -70px;
}
.sprite-bill{
    width:32px;
    height:32px;
    background-position:-71px -13px;
}
.hw-20{
 width : 24px;
 height : 21px;
 overflow : hidden ;
}
.pt-2{
 padding-top:2px;
}
.sprite-wati_sh {
    width: 37px;
    height: 33px;
    background-position: -170px -137px;
}
.sprite-order_success {
    width: 33px;
    height: 32px;
    background-position: -196px -52px;
}

.sprite-order_close {
    width: 42px;
    height: 37px;
    background-position: -196px -5px;
}

.sprite-my_order {
    width: 28px;
    height: 32px;
    background-position: -132px -135px;
}

.sprite-my_money {
    width: 77px;
    height: 65px;
    background-position: -45px -135px;
}

.sprite-my_info {
    width: 30px;
    height: 28px;
    background-position: -5px -135px;
}

.sprite-money_bg {
    width: 181px;
    height: 120px;
    background-position: -5px -5px;
}
.green_active{
  color:$green;
  border-bottom:2px solid $green;
}
.footsprite {
    background-image: url(/assets/images/footsprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cate {
    width: 42px;
    height: 42px;
    background-position: -5px -5px;
}
 .sprite-home {
    width: 42px;
    height: 42px;
    background-position: -57px -5px;
}

.active .sprite-cate {
    width: 42px;
    height: 42px;
    background-position: -5px -57px;
}

.active .sprite-home {
    width: 42px;
    height: 42px;
    background-position: -57px -57px;
}

 .active .sprite-shop {
    width: 42px;
    height: 42px;
    background-position: -109px -5px;
}

 .active .sprite-user {
    width: 42px;
    height: 42px;
    background-position: -109px -57px;
}

.sprite-shop {
    width: 42px;
    height: 42px;
    background-position: -5px -109px;
}

.sprite-user {
    width: 42px;
    height: 42px;
    background-position: -57px -109px;
}

.zoom2{
  zoom:2;
}
.coupon_tips{
  position:absolute;
  right:0;
  top:0;
}
.line-80{
    line-height:80px;
    }
.line-60{
    line-height:60px;
    }
.line-40{
  line-height:40px;
}
.sz-24{
    font-size:24px !important;
    }
.flex-nav
  ul
      padding-left:0
      margin:0
  li
      text-align center
      list-style-type:none
      a
        font-size:16px

.flex-center li
  width 25%
  float left
  a
    display block
    white-space nowrap

/*----add by liudeen----*/
.t-a-c
    text-align center
/*----购物车的删除按钮----*/
.pos-ab
    position absolute
.right-15
    right 15px
.top-8
    top 8px
.pos-re
    position relative

.green
    color #549235
.white
    color $white!important

/*----add by zhangxiao-----*/
.diy-none
  display none

.ng-cloak
  display none

.spinner-hv-center
  position absolute
  top 50%
  left 50%
  margin-left -75px
  margin-top -17.5px
