.btn-back
    margin 10px 30%
    display block
h4{
    font-weight:normal;
    }
.bl{
    color:#000 ;
    }
.text-danger,.text-warning{

    color:#fb9c15;
    }
.list_tips{
  height: 30px;
    text-align: right;
      color: #fb9c15;
        line-height: 30px;
          margin: 0px 0 10px 0;

    }

.deliver_fee
    padding 6px
    font-size 12px
    background #8c8c8c
    color #fff
.pay_reduce{
    padding:1px 3px;
    color:#fff;
    position:absolute;
    left:112px; 
    top:-5px;
    width:58px;
    height:20px;
    text-align:center;
    line-height:20px;
    font-size:12px;
    
    border-radius:3px;
}
