.action-nav
    background #1b1f22
    .container
        padding:0 5px


.action-nav > li
    padding 0 5px
    a:hover
        background none

.action-nav > li.active  a
        background none
        color $green
.diy_center a  h5{

    color:#333;
}
.diy_btnD{
    background-color: #fb9c15;
    border-color: #E29527;


}

.diy_btnD:hover{
    background-color: #fb9c15;
    border-color: #E29527;


}

.order-btn-plus em:hover,.order-btn-minus em:hover{

    color:#fb9c15;
}
