.head-bottom{
     background #4cb050
    height:41px;
    overflow:hidden;
    box-shadow 0px 0px 5px #999
    line-height 40px
    text-align center
    overflow hidden
    display:fixed
    
}
.head-bottom .active a
        display  block
        border-bottom  2px solid #fd9402
        font-size  16px
        color #fff
.head-bottom
  width : 100%
  position : fixed
  box-shadow 0px 0px 5px #999
  line-height 40px
  text-align center
  overflow hidden
  z-index : 2
  .active a
    display  block
    font-size  16px
    color  $orange
  a
    font-size  16px

.orderlist-bd
    border-top $border
    padding 10px 0

.seconedlist-ul
  list-style-type none
  background #fff
  padding-left 0
  li
      background #fff
      overflow hidden
      padding-bottom 15px
      border-bottom : 1px solid $gray 
.group-item
    overflow hidden
.diy_cartbtn{
    padding-right:10px;
    }
.diy_cartbtn button{
    width:100%;

}
.row_br{
    border-top:1px solid $gray;
    padding-top:10px;
 }
 .img_show >img{
   border-radius:0;
   width:100%;

 }
.cancelBtn , .cancelBtn:hover{
   background:$orange;
   color:#fff !important;
   border-color:$orange;
 }
.diy_cartP{

   margin: 0px 0 10px 0;
    }
.zoom8
    zoom 0.8
.info > h6:first-child{

  margin-top:0;
 }
 .carousel-control.right , .carousel-control.left{
    background-image:none;
    opacity : 1;
    }
    .carousel-indicators{
        bottom:0;
        }
.pt-pb-6{
    padding:6px 0;
    }
.white-c{
   color:#fff !important; 
    }

 .reset_btn{
    border:none;
    margin:0;
    list-style:none;
    padding:0;
    background:none;
    }
