/*------底部消息提示--------*/
    
.badge-cart
    position absolute
    top 0
    left 50%
    margin-left 10px

.action-nav a span.badge-alert
    font-size 14px
    background orange
    color white
    border-radius 99px

