.orderinfo{
    padding:10px;
    .mas_order{
        padding:0 10px;
        line-height:2;
    }
    .suborder_info{
        padding:2px;
        header{
            background:#fff;
            line-height:2.5;
            padding:0 15px;
        }
        section{
            padding:10px 15px;
            background:#f4f5f6;
        }
        .product_list{
            table{
                margin-bottom:0;
            }
            th,td{
                padding:0;
                border-bottom:none;
            }
            p{
                margin-bottom:5px;
            }
            table tr th,tbody tr td{
                padding:5px 0;
                border-top:none;
                vertical-align:text-top;
                text-align:right;
                &:first-child{
                    text-align:left;
                }
            }
        }
        footer{
            background:#fff;
            padding:8px 15px 8px 0;
            text-align:right;
            span{
                margin-left:3px;
            }
            p{
                margin-bottom:10px;
            }
        }
    }
    .ma_footer{
        div{
            border-bottom:1px solid #DCDEE0;
            margin:0px -10px;
            padding:10px 15px;
            &:last-child{
                border-bottom:none;
            }
        }
        .cancel_btn{
            button
            {
                margin:20px 5px 0;
                width:46%;
            }
        }
        .text-justify{
            margin:0 -16px;
            margin-bottom:10px;
            span{
                text-align:center;
                &:last-child{
                    text-align:right;
                }
                &:first-child{
                    text-align:left;
                }
            }
        }
        .footer_block{
            text-align:justify;
        }
    }
}
