<div class="warp-page container mb-nav">
  <form class="row block block-col change-password" role="form" novalidate  ng-submit="changePassword()" ng-controller="UserPasswordController" name="passwordForm">
    <div class="change-title">修改密码</div>
    <div class="form-group clearfix change-b pt-10 m-t-20 ml-0">
      <label for="password" class="control-label change-t col-xs-1">  
        旧密码
      </label>
      <div class="pull-left">
        <input type="password" required class="input-md form-control" ng-model="reg.password" id="password" placeholder="请输入您的旧密码" ng-minlength="6" name="oldpassword">
      </div>
      <label class="">
        请输入旧密码
      </label>
    </div>
    <div class="form-group change-b clearfix ml-0">
      <label for="newpassword" class="change-t control-label">
          新密码
      </label>
      <div class="pull-left">
        <input type="password" required class="input-md form-control" ng-model="reg.newPassword" id="newPassword" placeholder="请输入您的新密码" ng-minlength="6" name="password">
      </div>
      <label>
        6~16个字符，可使用字母、数字、下划线，区分大小写
      </label>
    </div>
    <div class="form-group change-b clearfix ml-0">
      <label for="newpassword" class="change-t control-label">
          确认新密码
      </label>
      <div class="pull-left">
        <input type="password" required class="input-md form-control" ng-model="reg.newRePassword" id="newRePassword"  ng-minlength="6" placeholder="请再次输入您的新密码" name="repassword">
      </div>
      <label>
        请再次填写密码
      </label>
    </div>
    <div class="form-group alert_box mg col-xs-12 ml-0" ng-show="passwordForm.$invalid && passwordForm.$dirty && show_error">
      <div class="">
        <div class="alert alert-danger min_alert" style="margin-bottom: 0px">
          <ul>
            <li ng-show="passwordForm.oldpassword.$error.minlength">旧密码至少6位</li>
            <li ng-show="passwordForm.oldpassword.$error.required">旧密码必填</li>
            <li ng-show="passwordForm.password.$error.minlength">密码至少6位</li>
            <li ng-show="passwordForm.password.$error.required">密码必填</li>
            <li ng-show="passwordForm.repassword.$error.minlength">确认密码至少6位</li>
            <li ng-show="passwordForm.repassword.$error.required">确认密码必填</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group ml-0">
      <div class=" block-btn ">
        <div class="">
          <button tjid  type="submit" class="btn btn-block btn-success orangebtn btn-lg">确认</button>
        </div>
      </div>
    </div>
  </form>
  <!--login form end-->
</div>
