<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">{{items.headerText}}</h3>
  </div>
  <div class="modal-body">
    <h2 class="text-center">{{items.bodyText}}</h2>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-if="items.actionText">
    {{items.actionText}}
    </button>
    <button class="btn btn-warning" ng-click="cancel()">{{items.closeText}}</button>
  </div>
</script>
<div class="col-xs-offset-2">
  <div class="bs-callout bs-callout-danger">
    <h5>{{title}}</h5>
  </div>

  <form class="" novalidate  role="form" id="addForm" name="addForm">
    <div  class="row block ml-default bs-callout">
      <table class="table table-striped">
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em> 专题名称 </b>
          </td>
          <td class="success col-xs-12">
            <input class="form-control" type="text" ng-model="name" required/>
          </td>
        </tr>
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em> 所属系统 </b>
          </td>
          <td class="success col-xs-12">
            <select ng-model="site"  class="col-xs-4 input-md form-control"
              ng-options="m.name for m in siteSrcs"  ng-change="getMaps()" required>
            </select>
          </td>
        </tr>

        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em>所属城市 </b>
          </td>
          <td class="success col-xs-12">
            <select ng-model="location"  class="col-xs-4 input-md form-control"
              ng-options="m.name for m in locationInfo" ng-change="getMaps()" required>
            </select>
          </td>
        </tr>
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em>上线时间 </b>
          </td>
          <td class="success col-xs-12">
            <input type="text" is-open="opened"  datepicker-popup="yyyy-MM-dd" ng-click="open($event)" datepicker-options="dateOptions"  class="form-control" max-date="endTime" ng-model="startTime"  id="startTime" placeholder="点击获取时间">
          </td>
        </tr>
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em>下线时间 </b>
          </td>
          <td class="success col-xs-12">
            <input type="text" ng-model="endTime" class="form-control" datepicker-popup="yyyy-MM-dd" datepicker-options="endDateOptions" min-date="startTime"  ng-click="endOpen($event)" is-open="endOpened" id="endTime" placeholder="点击获取时间">
          </td>
        </tr>
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em>专题类型 </b>
          </td>
          <td class="success col-xs-12">
            <select ng-model="subjectType"  class="col-xs-4 input-md form-control"
              ng-options="m.name for m in subjectTypes"  required>
            </select>
          </td>
        </tr>
        <tr ng-show="subjectType.id == 1">
          <td>专题图片</td>
          <td>
            <!--上传图片-->
            <div class="col-xs-12">
              <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                <i class="glyphicon glyphicon-plus"></i>
                <span class="button"  ng-file-select ng-model="files">
                  上传专题图片
                </span>
              </span>
            </div>
            <!--上传图片区域-->
            <div class="panel panel-default" ng-if="imgUploads.length">
              <div class="panel-heading"> 当前专题图片</div>
              <div class="panel-body">
                <!---上传图片-->
                <table class="table table-striped  files">
                  <tr ng-repeat="files in imgUploads">
                    <td>
                      <div class="col-xs-6 col-md-3">
                        <img width="100" ng-show="files.dataUrl != null" ng-src="{{files.dataUrl}}" class="thumbnail" />
                      </div>
                    </td>
                    <td>{{files.name}}</td>
                    <td>
                      <div class="btn btn-warning cancel" ng-click="picCancel(files, 0)">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>取消</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-show="subjectType.id != 1">
          <td>banner图片</td>
          <td>
            <!--上传图片-->
            <div class="col-xs-12">
              <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                <i class="glyphicon glyphicon-plus"></i>
                <span class="button"  ng-file-select ng-model="files">
                  上传banner图片
                </span>
              </span>
            </div>
            <!--上传图片区域-->
            <div class="panel panel-default" ng-if="imgUploads.length">
              <div class="panel-heading"> 当前banner图片</div>
              <div class="panel-body">
                <!---上传图片-->
                <table class="table table-striped  files">
                  <tr ng-repeat="files in imgUploads">
                    <td>
                      <div class="col-xs-6 col-md-3">
                        <img width="100" ng-show="files.dataUrl != null" ng-src="{{files.dataUrl}}" class="thumbnail" />
                      </div>
                    </td>
                    <td>{{files.name}}</td>
                    <td>
                      <div class="btn btn-warning cancel" ng-click="picCancel(files, 0)">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>取消</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-show="subjectType.id != 1">
          <td>页尾图片</td>
          <td>
            <!--上传图片-->
            <div class="col-xs-12">
              <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                <i class="glyphicon glyphicon-plus"></i>
                <span class="button"  ng-file-select ng-model="detailImg">
                  上传页尾图片
                </span>
              </span>
            </div>
            <!--上传图片区域-->
            <div class="panel panel-default" ng-if="detailUploads.length">
              <div class="panel-heading"> 当前上传图片</div>
              <div class="panel-body">
                <!---上传图片-->
                <table class="table table-striped  files">
                  <tr ng-repeat="files in detailUploads">
                    <td>
                      <div class="col-xs-6 col-md-3">
                        <img width="100" ng-show="files.dataUrl != null" ng-src="{{files.dataUrl}}" class="thumbnail" />
                      </div>
                    </td>
                    <td>{{files.name}}</td>
                    <td>
                      <div class="btn btn-warning cancel" ng-click="picCancel(files, 1)">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>取消</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="subjectType.id != 1">
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em>添加商品 </b>
          </td>
          <td class="success col-xs-12">
            <div ng-repeat="item in products">
              <div class="col-xs-8">
                <input type="text"  ng-model="item.value"  class="form-control"
                name="name_value" id="name_value" required  placeholder="请输入商品名称或者sku" ng-change="showProduct(item)">

                <div ng-if="item.products">
                  <ul class="list-group col-xs-12">
                    <li class="list-group-item"  ng-click="selectProduct(mitem, item)" ng-repeat="mitem in item.products">
                    <i class="text-danger">{{mitem.sku_number}}</i>|<span>{{mitem.title}}</span>|<span class="text-default">{{mitem.price}}/{{mitem.unit}}</span></li>
                  </ul>
                </div>

              </div>
              <div class="col-xs-4">
                <span class="btn btn-lg {{item.cls}}" ng-click="{{item.clk}}(item)">
                  <span class="glyphicon {{item.icon}}">{{item.name}}</span>
                </span>
            </div>        </div>
            <!--
        <div class="col-xs-6" ng-repeat="product in products">
          <input class="form-control" ng-type="text"  ng-model="product[id]" required/>
          <button class="btn btn-success" ng-click="showProduct(product)">查询商品</button>
        </div>
        <button class="btn btn-success" ng-click="chooseProduct()">添加</button>
    -->  </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <div class="col-xs-6">
                <button type="submit" class="btn btn-block btn-success btn-md" ng-click="add(addForm)">保存</button>
              </div>
              <div class="col-xs-6">
                <button type="reset" class="btn btn-block btn-default btn-md" ng-click="reset()">重置</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
  <div class="block-title"></div>
