.count-bg
    padding 5px
.mb-10{
  margin-bottom:10px;    
 }
 .mr-10{
    margin-right:10px;
    }
.pr-0{
    padding-right:0;
    }

.orderStatusCss1{
   background-color:#f1c40e;
}
.orderStatusCss2{
   background-color:#3398db;    
}
.orderStatusCss3{
   background-color:#2ecc71;
}
.orderStatusCss4{
   background-color:#e74c3c;
}
.orderStatusCss5{
   background-color:#95a5a6;
}

