
html{height:100%}
body{height:100%;margin:0px;padding:0px}
.m-10{ margin:10px auto;}
#container{height:100%}
        #mapContainer{
            top:0;
            left: 0;
            right:0;
            bottom:0;
        }
        .center{
            text-align:center;
            }
        .ing{
            
              background: url(/assets/images/ing.png) !important;
              }
        .ed{
          background: url(/assets/images/ed.png) !important;    
        }
        #tip{
            height:30px;
            background-color:#fff;
            padding-left:10px;
            padding-right:10px;
            position:absolute;
            font-size:12px;
            right:10px;
            bottom:20px;
            border-radius:3px;
            line-height:30px;
            border:1px solid #ccc;
        }
        #map_info{
            width: 200px;
            height: 50px;
            background: #f90;
        }

        div.info-top {
            position: relative;
            background: none repeat scroll 0 0 #F9F9F9;
            border-bottom: 1px solid #CCC;
            border-radius:5px 5px 0 0;
        }
        div.info-top div {
            display: inline-block;
            color: #333333;
            font-size:14px;
            font-weight:bold;
            line-height:31px;
            padding:0 10px;
        }
        div.info-top img {
            float right
            margin 12px 10px 0 0
            top: 10px;
            right: 10px;
            transition-duration: 0.25s;
        }
        div.info-top img:hover{
            box-shadow: 0px 0px 5px #000;
        }
        div.info-middle {
            font-size:12px;
            padding:10px;
            line-height:21px;
        }
        div.info-bottom {
            height:0px;
            width:100%;
            clear:both;
            text-align:center;
        }
        div.info-bottom img{
            position: relative;
            z-index:104;
        }
/*.as-sortable-item,*/
.as-sortable-placeholder {
    width: 124px;
    margin: 2px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.as-sortable-placeholder {
  border: 1px dotted #0000ff !important;
}

#sortable-container {
    display: inline-block;
}

.column {
  border: 1px solid #000000;
  border-radius: 5px;
}

/*--  右侧列表样式  --*/
.mapOrderlist 
    height 700px
    overflow-y auto

.maplist
    [class*="col-md"]
        padding 0;

.maporderdt
    .col-offset-3
        margin-left 11.9%

.gray-title
    background #e4e4e4
    padding 5px 0
    span
        padding 0 18px
        border-right 1px solid #b3b3b3
    span:last-child
        border-right:none

.maporderdt
    .row
        padding 3px 0
.mt5
    margin-top 5px
.m-0
    margin 0
.maporderdl
    dd
        font-size 12px

.maporderdl
    .orderlistrow
        border-top 1px solid #ddd
        padding 5px 0

.modt
    div
        float left
        padding 5px 0
    .modt-order
        margin-left 18px
        width 65px
    .modt-id
        width 64px

.map-number
    font-size 24px
    font-weight bold
    color #999
    text-indent 6px
