<div class="col-xs-offset-2">
  <div class="bs-callout bs-callout-danger">
    <h5>KA折扣列表</h5>
  </div>
  <div class="bs-callout">
    <div class="block mt-10 ml-default">
      <form class="form-inline" role="form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">城市</div>
            <select ng-model="location" class="form-control" ng-options="location.name for location in locations">
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">关键字</div>
            <input type="text" ng-model="key" class="form-control" placeholder="请输入关键字" />
          </div>
        </div>
        <div class="form-group">
          <button class="btn-block btn btn-info" ng-click="search();"> 筛选 </button>
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-warning" ng-click="reset();">重置 </button>
        </div>
      </form>
    </div>
  </div>
<!-- 商品列表 -->
  <div class="table-responsive" style="margin-top:10px;">
    <table class="table table-bordered table-striped table-hover">
      <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-2">
        <col class="col-xs-4">
        <col class="col-xs-2">
        <col class="col-xs-2">
      </colgroup>
      <thead>
        <tr>
          <td class="text-center"><h5>KA商户名称</h5></td>
          <td class="text-center"><h5>手机号</h5></td>
          <td class="text-center"><h5>折扣详情</h5></td>
          <td class="text-center"><h5>最后修改时间</h5></td>
          <td class="text-center"><h5>操作</h5></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in list" class="text-center">
          <td>
            <h5>{{item.shop_name}}</h5>
          </td>
          <td>
            <h5>{{item.mobile}}</h5>
          </td>
          <td >
              <span ng-repeat="rebate in item.rebates">
                  {{rebate.category_name}} {{rebate.rebate}}% <br ng-show="($index + 1) % 2 == 0">
              </span>
          </td>
          <!-- 更新时间 -->
          <td>
            <h5>{{item.operator}}<br>{{item.rebate_updated_time}}</h5>
          </td>
          <!-- 操作 -->
          <td>
            <h5><a class="btn btn-success btn-sm btn_mb5" ng-href="/memberRebate/edit/{{item.id}}">编辑</a></h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav>
    <dachu-pagination conf="paginationConf"></dachu-pagination>
  </nav>
</div>
