
.pulse {
    -webkit-animation: pulse .6s .2s ease both;
    -moz-animation: pulse .6s .2s ease both;
}
.animated {
    animation:totop 0.2s 4s;
    -moz-animation:totop 0.2s 4s; /* Firefox */
    -webkit-animation:totop 0.2s 4s ; /* Safari and Chrome */
    -o-animation:totop 0.2s 4s ; /* Opera */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

/*-- loading --*/
@keyframes loading
{
    0% {opacity: 1; z-index: 20; overflow-y: hidden;}
    100% {opacity: 0; z-index:-1;}
}
@-webkit-keyframes loading /* Safari and Chrome */
{
    0% {opacity: 1; z-index: 20; overflow-y: hidden;}
    100% {opacity: 0; z-index:-1;}
}
@keyframes movelogo
{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes movelogo /* Safari and Chrome */
{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes movecar
{
    0% {left:-2000px;}
    100% {left:74.7%;}
}
@-webkit-keyframes movecar /* Safari and Chrome */
{
    0% {left:-2000px;}
    100% {left:74.7%;}
}


@keyframes ban_text1
{
    0% { opacity:0; transform:scaleX(0.6);}
    100% { opacity:1;transform:scaleX(1);}
}
@-webkit-keyframes ban_text1
{
    0% { opacity:0; transform:scaleX(0.6);}
    100% { opacity:1;transform:scaleX(1);}
}
@-webkit-keyframes ban_text
{
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.animate-scale{
    opacity: 0;
    animation:scale 0.5s 5s;
    -moz-animation:scale 0.5s 5s; /* Firefox */
    -webkit-animation:scale 0.5s 5s ; /* Safari and Chrome */
    -o-animation:scale 0.5s 5s ; /* Opera */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes scale
{
    0% { 
        -webkit-transform:scale(0.1);
        -ms-transform:scale(0.1);
        transform:scale(0.1);
        opacity:0;
    }
    100% { 
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1;
    }
}
@-webkit-keyframes scale
{
    0% { 
        -webkit-transform:scale(0.1);
        -ms-transform:scale(0.1);
        transform:scale(0.1);
        opacity:0;
    }
    100% { 
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1;
    }
}
@keyframes totop
{
    0% {
        top:1000px;
    }
    100% {
        top:200px;
    }
}
@-webkit-keyframes totop 
{
    0% {
        top:1000px;
    }
    100% {
        top:200px;
    }
}
.banner .fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
}
.banner .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceIn{
    0%{opacity:0;-webkit-transform:scale(.3)}
    50%{opacity:1;-webkit-transform:scale(1.05)}
    70%{-webkit-transform:scale(.9)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
    0%{opacity:0;-moz-transform:scale(.3)}
    50%{opacity:1;-moz-transform:scale(1.05)}
    70%{-moz-transform:scale(.9)}
    100%{-moz-transform:scale(1)}
}

.no-load .animated {
    animation:totop 0.5s;
    -moz-animation:totop 0.5s; /* Firefox */
    -webkit-animation:totop 0.5s; /* Safari and Chrome */
    -o-animation:totop 0.5s; /* Opera */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.no-load .animate-scale{ 
    opacity: 0;
    animation:scale 0.5s 1s;
    -moz-animation:scale 0.5s 1s; /* Firefox */
    -webkit-animation:scale 0.5s 1s ; /* Safari and Chrome */
    -o-animation:scale 0.5s 1s ; /* Opera */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.no-load .ban_text{
    animation:ban_text 1s 2s;
    -moz-animation:ban_text 1s 2s; /* Firefox */
    -webkit-animation:ban_text 1s 2s ; /* Safari and Chrome */
    -o-animation:ban_text 1s 2s ; /* Opera */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.no-load .ban_text1{
    animation:ban_text1 1s 3s;
    -moz-animation:ban_text1 1s 3s; /* Firefox */
    -webkit-animation:ban_text1 1s 3s ; /* Safari and Chrome */
    -o-animation:ban_text1 1s 3s ; /* Opera */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
