<div class="container-fluid">
  <div class="width_change" id="row block-title">
    <div class="col-xs-offset-2">
      <div class="bs-callout bs-callout-danger">
        <h5>咨询单列表</h5>
      </div>
      <div class="bs-callout">
        <a ng-click="func.filterByStatus('-1');" ng-class="{'btn-info': status == '-1'}" class="btn">
          全部
        </a>
        <a ng-click="func.filterByStatus('1');" ng-class="{'btn-info': status == '1'}" class="btn">
          处理中
        </a>
        <a ng-click="func.filterByStatus('2');" ng-class="{'btn-info': status == '2'}" class="btn">
          已处理
        </a>
        <div class="block mt-10 ml-default">
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">关键词</div>
                <input type="text" ng-model="searchValue" class="form-control" placeholder="请输入搜索关键词" />
              </div>
            </div>
            <!--
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">处理状态</div>
                 <select class="form-control" ng-model="statusModel" ng-options="m.msg for m in statuses">
                  <option value="">全部</option>
                </select>
              </div>
            </div>
            -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">咨询类型</div>
                <select class="form-control" ng-model="consultStatusType" ng-options="m.msg for m in ctypes">
                  <option value="">全部</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">运营组受理人</div>
                <select class="form-control" ng-model="operator" ng-options="m.name for m in operators">
                  <option value="">全部</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">起始时间</div>
                <input type="text" is-open="opened"  datepicker-popup="yyyy-MM-dd" ng-click="func.open($event)" datepicker-options="dateOptions"  class="form-control" ng-model="startTime"  id="startTime" placeholder="点击获取时间">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">截止时间</div>
                <input type="text" ng-model="endTime" class="form-control" datepicker-popup="yyyy-MM-dd" datepicker-options="endDateOptions"  ng-click="func.endOpen($event)" is-open="endOpened" id="endTime" placeholder="点击获取时间">
              </div>
            </div>
            <div class="form-group">
              <button class="btn-block btn btn-info" ng-click="func.search();"> 筛选 </button>
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-warning" ng-click="func.reset()">重置</button>
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-primary" ng-click="func.export()">导出选中咨询单</button>
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-danger" ng-click="func.exportAll()">导出筛选咨询单</button>
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-success" ng-click="func.goto('home.consultCreate')">新建咨询单</button>
            </div>
          </div>
        </form>

        <div class="table-responsive" style="margin-top:10px;">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <td class="text-center" width="5%"><h5><input type="checkbox" ng-click="func.checkAll();" ng-model="check_all"/></h5></td>
                <td class="text-center" width="5%"><h5>咨询单号</h5></td>
                <td class="text-center" width="10%"><h5>填写时间</h5></td>
                <td class="text-center" width="10%"><h5>处理状态</h5></td>
                <td class="text-center" width="5%"><h5>受理人</h5></td>
                <td class="text-center" width="5%"><h5>咨询类型</h5></td>
                <td class="text-center" width="5%"><h5>姓名</h5></td>
                <td class="text-center" width="10%"><h5>联系方式</h5></td>
                <td class="text-center" width="10%"><h5>咨询内容</h5></td>
                <td class="text-center" width="10%"><h5>操作</h5></td>
              </tr>
            </thead>
            <tbody ng-if="list.length===0">
              <tr>
                <td colspan="13" class="text-center"><h5>暂无数据</h5></td>
              </tr>
            </tbody>
            <tbody ng-if="list.length>0">
              <tr ng-repeat="item in list">
                <td class="text-center">
                  <h5><input type="checkbox" ng-model="item.checked"/></h5>
                </td>
                <td class="text-center">
                  <h5>{{ item.id }}</h5>
                </td>
                <td class="text-center">
                  <h5>{{ item.created_time }}</h5>
                </td>
                <td class="text-center">
                  <h5>
                      <span ng-class="item.status==1?'label label-warning':'label label-success'" >{{ item.status|filterStatus:this.statuses }}</span>
                  </h5>
                </td>
                <td class="text-center">
                 <h5>{{ item.creator }}</h5>
                </td>
                <td class="text-center">
                  <h5>{{ item.ctype|filterStatus:this.ctypes }}</h5>
                </td>
                <td class="text-center">
                <h5>{{ item.name }}</h5>
                </td>
                <td class="text-center">
                  <h5>
                    <p ng-show='item.qq!=""'>QQ：{{ item.qq }}</p>
                    <p ng-show='item.wechat!=""'>微信：{{ item.wechat }}</p>
                    <p ng-show='item.mobile!=""'>电话：{{ item.mobile }}</p>
                  </h5>
                </td>
                <td class="text-center">
                  <h5>{{ item.content }}</h5>
                </td>
                <td class="text-center">
                  <h5><a class="btn btn-primary btn_mb5 btn-sm" ng-href="consult/edit/{{item.id}}">编辑</a></h5>
                  <h5><a class="btn btn-danger btn-sm" ng-click="func.delete(item.id)">删除</a></h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav>
          <dachu-pagination conf="paginationConf"></dachu-pagination>
        </nav>
      </div>
    </div>
  </div>
</div>
