/**
* 主页样式
*/
body {
  min-height: 100%;
  padding: 0px;
}

img {
  margin: 0 auto;
  vertical-align: middle;
  width: 50%;
  display: block;
  margin-bottom: 5px;
}
.ng-scope {
  height: 100%;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.panel {
  height: 100%;
  border: 0px;
  box-shadow: none;
}

.panel-heading {
  border-radius: 0px;
}

.panel-body {
  position: relative;
  top: 0px;
}

.panel-body .btn-a {
  line-height: 39px;
  margin-top: 10px;
}

.btn-lg {
  height: 60px;
  font-size: 26px;
}

.panel-title {
  font-size: 20px;
}

.main-title {
  margin-left: -59px;
}

.sort-title {
  margin-left: -80px;
}

.pwd-title {
  margin-left: -119px;
}

.main-h3 {
  display: inline-block;
  line-height: 34px;
  position: relative;
  left: 50%;
}

.input-group {
  margin-bottom: 75px;
}

.btn-multi {
  margin-bottom: 20px;
  line-height: 38px;
}

.input-group-with-alert {
  margin-bottom: 15px;
}

.input-group-with-alert {
  .input-group {
    margin-bottom: 1px;
  }
  .label {
    height: 30px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }
  .sm-addon {
    padding: 6px;
    font-size: 12px;
  }
  .lg-addon {
    font-size: 16px;
  }
}

.alert {
  text-align: center;
}

/**
* 登陆页样式
*/
.clogin {
  margin-top: 0px;
}

.login-pwd {
  margin: 0px 35px 10px 0px;
}
/**
* 密码样式
*/
.input-name {
  padding-left: 38px;
  line-height: 38px;
}
.input-text {
  margin-left: -18px;
}
.pwd-btn {
  margin-top: 10px;
}
.input-group {
  margin-bottom: 15px;
}
/**
* dispatch
*/

.input-group-lg {
  .input-group-addon {
    height: 44px;
    padding: 0px 5px;
  }
  .input-fix {
    padding-left: 5px !important;
  }
}

/**
* 等待框
*/
.wait {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: #696969;
  opacity: 0.5;
}
.progress {
  z-index: 1000;
  opacity: 1;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -150px;
  height: 40px;
  width: 300px;
  i {
    line-height: 38px;
    font-size: 20px;
  }
}
