<div class="modal-head login-wp">
  <div class="login-hd">
    <h3>
      提示
      <button tjid ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </h3>
  </div>
  <div class="login-bd">
    <p class="m-t-15">您可以通过以下方式提出申请，稍后我们会有专员前往考察，通过后，会邀请您注册成为大厨网用户，即可轻松下单，享受新鲜食材快速送达！</p>
    <ul class="call-us">
      <li>
        <i class="icon pull-left phone"></i>
        官方客服电话：<span>400-8199-491</span>
      </li>
      <li>
        <i class="icon pull-left qq"></i>
        官方QQ：<span>975550226</span>
      </li>
      <li>
        <i class="icon pull-left weixin"></i>
        官方微信号：<span><strong>"大厨网"</strong>或<strong>"houchuwang"</strong></span>
      </li>
    </ul>
  </div>
</div>
