.ul-bd-index {
 border-left:2px solid #ff6601;
 margin:10px;
 background:white;
 li {
    padding: 10px;
    list-style-type:none;
    border-bottom:1px solid #d4d4d4;
 }
 li:last-child {
    border-bottom:none;
 } 
}
.margin-top-10{ margin-top:10px; }
.margin-top-40{ margin-top:40px; }
.margin-top-50{ margin-top:50px; }
.margin-top-60{ margin-top:60px; }
.span-color-red {
  color:red;
  font-weight:bold;
}
.badge-color{
  background:#ff6601;
}
.bd-customer-ul-list {
margin:10px 0;
padding:20px 10px;
background:white;
}
.add_plan{
    .row{
        margin:20px -10px 0;
        .col-xs-8,.col-xs-4{
            padding:0;
        }
    }
}
.btn-block-colomn{
    margin-top:30px;
    a{
      padding:6px 46px;
    }
    a:nth-child(1){
    float:left;
    }
    a:nth-child(2){
      float:right;
    }
}
.customerVisitClass{
 font-size:1.2em;    
}
#customer-column{
  text-align:left;
  padding:0;
  margin-top:10px;
}
#customer-column li{
  display:block;
  list-style-type:none;
  margin-top:10px;
}
#customerType,#questionType{
  margin-top:15px;
}
#customerType>div,#questionType>div{
  text-align:left; 
}
#remarkText{
  margin:5px 0 0 10px;
}
#btnCustomerList{
   margin-bottom:30px;
}
#customerType > ul > li, #questionType > ul > li {
 float:left;
 width:50%;
 margin-top:5px;
 display:inline;
 list-style-type:none;
}

