/*------通用设置------------*/
input[type=text] , input[type=password] , input[type = reset] , input[type = number]{
    -webkit-appearance:none !important;
}

h4, .h4, h5, .h5, h6, .h6{
  margin-top : 8px  ;

  margin-bottom : 8px ;
  font-weight : normal ;
}
.pl-0
  padding-left 0
.pr-0
  padding-right 0
.m-0{
  margin:0 !important;
}
.ml-0
  margin-left 0 !important;
.mr-0
  margin-right 0
.mt-nav
  margin-top 43px !important
.mb-nav
  margin-bottom 30px !important
//  margin-bottom 50px !important
.pt-10
  padding-top 10px
.pb-10
  padding-bottom 10px !important
.pd-0{
    padding:0;
}
.p-0{
    padding:0 !important ;
    }
.p-lr-15{
    padding:0  15px !important;
    }

.pr{
    position:relative;
}
.m-r-5{
    margin-right:5px !important ;
    }
.zoom5{
    zoom:0.5;
    }
.mb-10{
    margin-bottom:10px !important ;
    }

.pl-10{
   padding-left: 10px !important ;
    }
.mt-10{
    margin-top:10px;
}
.b-r-0{
    border-radius:0 !important;
    }
.mb-0
  margin-bottom 0 !important
.w100
  width 100%


.b-0{
    border:none !important ;
    }
.title
  color #444
  font-size 14px

.f_right
    float:right
$border = 1px solid #eee
.close_m_btn{

    color: #d58512;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    line-height: 40px;
    z-index:99 ;
}
.modal-backdrop{
    position:fixed ;
    bottom:0 !important ;
}

$lightbrown = #c17e16;

$f60 = #ff6002;
$brown = #372813;
$lightOrange = #ffb400;
$orange = #fb9c15;
$gray = #f2f2f2;
$green = #549235;
$white = #fff;
$a5a5 = #a5a5a5;

$eee = #eee;

$lightGreen = $lightOrange;
.text-gray{
  color:#ccc !important ;
}

.orange
    color orange !important ;
.orange_bg{
   background : orange !important;
}
.orange_br{
    border:1px solid orange !important;
    }
.white_bg{
    background : #fff !important ;
    }

.white
    color $white!important
.glyphicon
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale

a
  color:#fff
  text-decoration: none !important

.fix-bottom
    position:fixed;
    z-index:999
    bottom:0
    left:0
    width 100%

.action-nav
    height:53px
    overflow:hidden
    text-align:center
    background:#090909
    color:white
    a
        font-size:12px
        color:#fff
        span
            margin-bottom:6px

.action-nav a
    padding:8px 5px 5px!important
    span
        font-size:20px
        display:block

.join-order
    margin-top:70px
.origin
    color:$lightOrange
    font-size:16px
    font-weight:bold
.line-through
    text-decoration:line-through
.btn-wrap
    position:absolute
    bottom:60px
    left:0
    right:0
    .btn-orange
         background:orange
         color:white
         font-size:16px
.action-nav
  .col-xs-3
    margin 0
    padding 0

.pic
  zoom 0.5

/*------flex center-------*/
.center_nav  .badge{
  position:absolute;
  right:-15px;
  top:-12px;
  zoom:2;
}
.text-333{

    color:#333 !important;
}
.text-12{
font-size:12px ;
 }
body{
 overflow:hidden ;
}
.btn-back {
  margin: 10px 30%;
    display: block;
}
.sprite-wati_ok {
    width: 33px;
    height: 33px;
    background-position: -196px -94px;
}
.sprite_bg {
    background-image: url(/assets/images/money_bg.png);
    background-repeat: no-repeat;
    display: inline-block;
    zoom:.5;
}

.sprite-gray_2_bg {
    width: 181px;
    height: 120px;
    background-position: -5px -5px;
}
.spriteGrayBg{
    width: 181px;
    height: 161px;
    background-position: -196px -5px;
}

.sprite-green_2_bg {
    width: 181px;
    height: 120px;
    background-position: -5px -176px;
}

.sprite-green_3_bg {
    width: 181px;
    height: 160px;
    background-position: -196px -176px;
}

.sprite-yellow_2_bg {
    width: 181px;
    height: 120px;
    background-position: -387px -5px;
}

.spriteYellowBg {
    width: 181px;
    height: 160px;
    background-position: -387px -135px;
}
.sprite {
    background-image: url(/assets/images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-wati_sh {
    width: 37px;
    height: 33px;
    background-position: -170px -137px;
}
.sprite-order_success {
    width: 33px;
    height: 32px;
    background-position: -196px -52px;
}

.sprite-order_close {
    width: 42px;
    height: 37px;
    background-position: -196px -5px;
}

.sprite-my_order {
    width: 28px;
    height: 32px;
    background-position: -132px -135px;
}

.sprite-my_money {
    width: 77px;
    height: 65px;
    background-position: -45px -135px;
}

.sprite-my_info {
    width: 30px;
    height: 28px;
    background-position: -5px -135px;
}

.sprite-money_bg {
    width: 181px;
    height: 120px;
    background-position: -5px -5px;
}
.green_active{
  color:$lightbrown;
  border-bottom:2px solid $lightbrown;
}
.zoom2{
  zoom:2;
}
.br-rb-1{
 border-right : 1px solid $eee;

 border-bottom : 1px solid $eee;
}
.coupon_tips{
  position:absolute;
  right:0;
  top:0;
}
.line-80{
    line-height:80px;
    }
.line-60{
    line-height:60px;
    }
.line-40{
  line-height:40px;
}
.sz-24{
    font-size:24px !important;
    }
.flex-nav
  ul
      padding-left:0
      margin:0
  li
      text-align center
      list-style-type:none
      a
        font-size:16px

.flex-center li
  width 25%
  float left
  a
    display block
    white-space nowrap

/*------底部消息提示--------*/
.badge-cart
    position absolute
    top 0
    left 50%
    margin-left 10px

.action-nav a span.badge-alert
    font-size 14px
    background $f60
    color white
    border-radius 99px
/*----add by liudeen----*/
.t-a-c
    text-align center
/*----购物车的删除按钮----*/
.pos-ab
    position absolute
.right-15
    right 15px
.top-8
    top 8px
.pos-re
    position relative
/* *******************新版 */


$orange = #fb9c15

$a5a5a5 = #6E6E6E;
.br-l-2{
  border-left: 2px solid $lightOrange;
}
.btn-lightGreen{
 background:$lightGreen !important;
 color: $white !important;
}
.text-ov{

    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-16{
  font-size:16px !important;
}
.text-14{
  font-size:14px !important;
}
.mt-0 , .mt_0{
  margin-top:0px !important;
}
.pd-10{
    padding:10px;
}
.pt-10{
    padding-top:10px;
}

.pt-0{
    padding-top:0px !important;
}
.p-tb-6{
  padding:6px 0;
}
.p-tb-10{
  padding:10px 0 !important;
}
.p-tb-15{
  padding-top:15px !important;

  padding-bottom:15px !important;
}
.br-0{
  border : none !important ;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-50{
    padding-bottom: 50px;
}
.mt-10{
  margin-top:10px !important;
}
.m-t-41{
  margin-top : 41px;
}
.m-l-5{
  margin-left:5px !important ;
}
.pt-5{
    padding-top:5px;
}
.-ml-10{
 margin-left : -10px;
}

.list-none{
  list-style: none;
}
.hei-24{
  height:24px !important;
 }
.p-b-90{
  padding-bottom : 90px;
}
 .line-30{
   line-height : 30px;
 }
.mb-10{
    margin-bottom:10px
}
.line-36{
  line-height:30px;
}
.min-500 >div{

  height:100%;
  overflow-y:scroll;
}
.mt-81{
 margin-top:81px !important ;
}
.nav_list{
  overflow-x:auto;
  overflow-y:hidden;
  -webkit-overflow-scrolling : touch;
}
.nav_list > ol{
  clear:both;
  width:100%;
  white-space:nowrap;
}

.nav_list li{

padding: 10px 8px ;
display:inline-block;
}
.cart_btn{
  padding : 4px 10px !important;
}
.often{
margin-top: -14px;
  margin-left: -6px;
}
.nav_mask{
    position : absolute;
    top:0;
    bottom:0;
    left : 0;
    right : 0;
    text-align : center ;
    line-height:42px;
    font-weight : bold;
    color : #fff;
    background-color: rgba(0,0,0,0.7);
    font-size:18px;
}

.search_rm_box{
    width:30px;
    height:30px;
    z-index: 99;
    position: absolute !important;
    right: 0px;
    top: -1px;
}
.hei-40{
 height : 40px !important;
}
.recommend{
    border-left : 1px solid $eee;
}
.recommend > div{
    border-right : 1px solid $eee;

    border-bottom : 1px solid $eee;
    padding : 5px;
    padding-top : 0;
}
.search_rm{
    background-color: #ccc;
    z-index: 99;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
}
.ml-10{
 margin-left :10px;
}
.m-lr-10{
  margin-left :10px;
  margin-right :10px;
}
.m-0{
  margin:0 !important;
}
.r-0{
    right:0 !important;
}
.m-l-10{
 margin-left: 10px;
}
.middle{
  vertical-align:middle ;
}
.m-5-5{
    margin:5px -5px;
}
.mt-33{
  margin-top:33px !important;
}
.search_box{
  position: absolute;
  top:-3px;
}
.text-18{
 font-size:18px !important ;
}
.man_bg{

    width:100%;
    height:180px;

    background-image: url(/assets/images/man_bg.jpg);
    background-size : 100%;
    text-align : center;
}
$gray = #ccc;
.br-b-1{
  border-bottom: 1px solid $gray;
 }
.diy_icons{
 font-size:14px;
 color: #789E65 !important;
}
.close_m_btn{
   color: #d58512;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    line-height: 40px;
    z-index:99 ;
}
.w_auto{
    width : auto !important ;
    }
.modal-backdrop{
  position:fixed ;
  bottom:0 !important ;
}
 .br_gray{
    border:1px solid $gray;
 }
 .br_b_2{
  border-bottom:2px solid $lightOrange;

  color: $lightOrange !important ;
}
.br_b_2 a{
  color: $green !important ;
 }
 .none{
   display: none;
 }
 .fadeOut{
     animation-name : fadeOut;
     display: none ;
 }
 .animated {
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }
 .mt-100{
  margin-top:30%;
 }
@-webkit-keyframes arrow_tips {
     0% {
      transform: translate3d(0, -10px, 0);
     }

     100% {
      transform: translate3d(0, 10px, 0);
     }
 }
.arrow_tips {
     animation-name : arrow_tips;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
 @-webkit-keyframes fadeOut {
     0% {
         opacity: 1;
     }

     100% {
         height : 0;
         width : 0;
         opacity: 0;
     }
 }
 .hei-68 > div{
  height :68px;
  overflow : hidden ;
}
 .hei-30{
 height:  30px !important ;
 }
 .b-rd-0{
   border-radius : 0 !important;
 }
 .b_b_0{
  border-bottom : 0 !important ;
 }
 .orangebtn{
    border-color:$orange !important;
    background: $orange !important;
    color:$white !important;
 }
.grren{
    color: $green;
    }
.greenB_whiteF{
   background:#39792F;
   color:#fff;
 }
.greenB_textF{
  background : $lightOrange;
  color : $white !important;
}
.text-orange{
  color : $lightOrange;
}
.text-a5a5a5{
 color : $a5a5;
}
.hot_list img{
width:100%;
}
.sprite_guo {

    background-image: url(/assets/images/sprite_guo.png);
    background-repeat: no-repeat;
    display: block;
}

 .active .sprite-cate {
    width: 42px;
    height: 42px;
    background-position: -5px -5px;
}

.sprite-cate {
    width: 42px;
    height: 42px;
    background-position: -57px -5px;
}

.active .sprite-home {
    width: 42px;
    height: 42px;
    background-position: -5px -57px;
}

.sprite-home {
    width: 42px;
    height: 42px;
    background-position: -57px -57px;
}

 .active .sprite-shop {
    width: 42px;
    height: 42px;
    background-position: -109px -5px;
}

  .sprite-shop {
    width: 42px;
    height: 42px;
    background-position: -109px -57px;
}

 .active .sprite-user {
    width: 42px;
    height: 42px;
    background-position: -5px -109px;
}

.sprite-user {
    width: 42px;
    height: 42px;
    background-position: -57px -109px;
}
.scale5{
  transform: scale(0.5);
    transform-origin: 50% 0
}
.flex{
  display:flex;
  align-items : center ;
}
.flex_c{
  display:flex;
}
.origin-0{
  transform-origin : 0;
}
.text-gray{
  color:#ccc !important ;
}
.inline{
  display: inline-block !important;
}
.back_btn{
 margin-top:4px;
}
.text-333{
    color:#333 !important;
}
.hw-20{
 width : 24px;
 height : 21px;
 overflow : hidden ;
}
.hw-20{
 width : 24px;
 height : 21px;
 overflow : hidden ;
}
 .hei-60{
 height : 60px;
}
.m-l-50{
 margin-left : -50px;
}
.btn-brown{
  background-color : $brown;
  color : $white !important;
}
.text-f60{
  color : $f60 ;
}
.f60_br{
 border : 1px solid $f60;
}
.text-brown{
  color : $lightbrown ;
}
.p-0{
 padding :0 ;
}
.pr-10 {
  padding-right: 10px!important;
  }
.btn-orange{
  background-color : $lightOrange;
  border : none !important ;
  color: $white;
}
.white
    color $white!important
.text-white{
  color: $white;
}
.diy_center a h5 {
  color: #333;
 }
 .sprite_icon {
     background-image: url(/assets/images/sprite_icon.png);
     background-repeat: no-repeat;
     display: block;
    transform: scale(0.5);
    transform-origin: 50% 0
 }

 .sprite-confirm {
     width: 30px;
     height: 30px;
     background-position: -5px -5px;
 }

 .sprite-coupon {
     width: 30px;
     height: 30px;
     background-position: -45px -5px;
 }

 .sprite-myCoupon {
     width: 30px;
     height: 28px;
     background-position: -85px -5px;
 }

 .sprite-often {
     width: 32px;
     height: 32px;
     background-position: -125px -5px;
 }

 .sprite-order {
     width: 28px;
     height: 32px;
     background-position: -167px -5px;
 }

 .sprite-pay {
     width: 30px;
     height: 30px;
     background-position: -205px -5px;
 }

 .sprite-time {
     width: 30px;
     height: 30px;
     background-position: -245px -5px;
 }
.tel_btn {
  margin: 4px;
  }
.min-500 >div{

  height:100%;
  overflow-y:scroll;
}
.m-t-1{
 margin-top: 1px ;
}
.m-t-5{
 margin-top: 5px ;
}

.p-t-1{
  padding-top:1px;
}
.p-t-2{
  padding-top:2px;
}
.b-b-1{
 border-bottom : 1px solid #eee !important;
}
.br-white{
  border : 1px solid $white ;
}
.img-w h4{
    font-size : 14px !important; 
}
