.action-nav
    .container
        padding:0 5px

.action-nav > li
    padding 0 5px
    a:hover
        background none
    
.action-nav > li.active
    a
        background none
        color $lightOrange


