.head
    position fixed
    left 0
    top 0
    width 100%
    background $lightOrange
    padding 8px
    color white
    overflow hidden
    z-index 99
    .h1
        font-size @padding*3+@padding/2
        font-weight bold
        margin 0
    i
        font-size @padding*3+@padding/2
        font-weight 100
    .h1-r
        font-size @padding*2
        font-weight bold
        margin-right 5px

.head-top
  line-height 25px
  .col-xs-4
      padding 0 5px
  a
    color white
  .backup
    font-size 16px
    padding 0
  .listname
    font-size 18px
    text-align center
    padding 0
  .call
    font-size 16px
    text-align right
    padding 0

