.head-bottom
  background #fff
  box-shadow 0px 0px 5px #999
  line-height 40px
  text-align center
  overflow hidden
  border-bottom 1px solid $lightbrown
  .active a
    display  block
    border-bottom  3px solid $lightbrown
    font-size  16px
    color  $lightbrown
  a
    color #333
    font-size  16px

.orderlist-bd
    border-top $border
    padding 10px 0

.seconedlist-ul
  list-style-type none
  background #fff
  padding-left 0
  li
      background #fff
      margin-bottom 15px
.group-item
    overflow hidden
.zoom8
    zoom 0.8
.row_br{
    border-top:1px solid $gray;
    padding-top:10px;
 }
.img_show >img{
   border-radius:0;
   width:100%;
 }
.info > h6:first-child{

  margin-top:0;
 }
.pt-pb-6{
    padding:6px 0;
    }
.white-c{
   color:#fff !important;
    }
.pl-5{
    padding-left:5px !important;
    }
.w100{
  width:100%;    
 }
 .reset_btn{
    border:none;
    margin:0;
    list-style:none;
    padding:0;
    background:none;
    }
