.i_class
    border-left 1px solid #ccc
    a
      padding: 8px 12px;
      font-size: 18px;
      color: #FF7400;
      background: rgba(255, 204, 1, 0.04);
      margin: 7px 8px;
      display: inline-block;
      border-radius: 4px;

.i_list
    .row
        border-bottom 1px solid #ccc
        background white
        .col-xs-3
            text-align center
            display block
            padding 10px 0
        .col-xs-9
            
            margin-left -1px
            border-left none !important
            padding 5px

