body
    background #e5e5e5

.warp-page
    position static;
    margin-top 41px
    left 0
    right 0
    margin-bottom 53px
    overflow-y auto
    overflow-x:hidden;
    -webkit-overflow-scrolling touch

.title_h2
    font-size 18px
    color #868686
    margin 0 15px

.sec_b
    margin-top 10px
    .list-group
        li
            background white
            box-shadow 0px 0px 6px #333
            margin 10px 0 0 0
            font-size 18px
            line-height 3
            padding 0 15px

.list-group a
    display block

.i_list
    .row
        border-bottom 1px solid #ccc
        background white
        .col-xs-3
            background : $eee
            text-align center
            display block
            padding 10px 0
        .col-xs-9
            margin-left -1px
            border-left 1px solid #ccc
            padding 5px
.order-ul
    padding-left:0
    list-style-type:none
    li
        background:#fff
        a
            color:black
.order-hd
.group-item
.order-bd-bottom
    border-bottom:1px solid #eee
    padding:10px

.group-item
    border-top:1px solid #eee

.item-box
    padding:10px
    background:#fff
    margin-bottom:15px
    select
        width:100%
        margin-bottom:15px
.item-boxs
    .btn-wrap
        bottom:0;

.i_class
    border-left 1px solid #ccc
    a
      padding: 8px 12px;
      font-size: 18px;
      color: #FF7400;
      background: rgba(255, 204, 1, 0.04);
      margin: 7px 8px;
      display: inline-block;
      border-radius: 4px;

.z-add
    position absolute
    left 0
    right 0
    background white
    line-height 3
    border-bottom $border
    padding 0 15px


.orderbody
    .order-hd
        margin-bottom 15px
    .flex-nav
        margin-bottom 15px

.item-box h4
    border-bottom $border
    padding 0 15px 10px 15px
    margin 15px -15px

/*------block-------*/
.block
    background white
    margin-bottom 10px
    border-bottom $border
    .block-col
        border-bottom $border
        padding-top 8px
        padding-bottom 8px


