.orderlist-bd
    border-top $border
    padding 10px 0

.seconedlist-ul
  list-style-type none
  background #fff
  padding-left 0
  li
      background #fff
      margin-bottom 15px
.group-item
    overflow hidden
