.order-ul
    padding-left:0
    list-style-type:none
    li
        background:#fff
        a
            color:black
.order-hd
.group-item
.order-bd-bottom
    border-bottom:1px solid #eee
    padding:10px

.orderbody
    .order-hd
        margin-bottom 15px
    .flex-nav
        margin-bottom 15px


