<div class="container-fluid">
  <div class="width_change" id="row block-title">
    <div class=" col-xs-offset-2">
      <div class="bs-callout bs-callout-danger">
        <h4>修改订单：</h4>
        <h4>内部编号：{{data.id}}</h4>
        <h4>订单编号：{{data.order_number}}</h4>
        <h5 style="margin-top:10px;">状态：{{data.status_cn}}</h5>
      </div>
      <form class="form-horizontal showcase-form" role="form" id="basic_form" name="basic_form">
        <div ng-if="data">
          <table class="table table-bordered table-striped">
            <colgroup>
              <col class="col-xs-3">
              <col class="col-xs-3">
              <col class="col-xs-3">
              <col class="col-xs-3">
            </colgroup>
            <tbody>
              <tr>
                <td class="text-center"><h5>客户名称</h5></td>
                <td class="text-center"><h5>{{data.realname}}</h5></td>
                <td class="text-center"><h5>电话</h5></td>
                <td class="text-center"><h5>{{data.mobile}}</h5></td>
              </tr>
              <tr>
                <td class="text-center"><h5>店铺名称</h5></td>
                <td class="text-center"><h5>{{data.shop_name}}&nbsp;</h5></td>
                <td class="text-center"><h5>送货地点</h5></td>
                <td class="text-center"><h5>{{data.deliver_addr}}</h5></td>
              </tr>
              <tr>
                <td class="text-center"><h5>下单时间</h5></td>
                <td class="text-center"><h5>{{data.created_time}}&nbsp;</h5></td>
                <td class="text-center"><h5>订单金额</h5></td>
                <td class="text-center"><h5>{{data.total_price}}&nbsp;元</h5></td>
              </tr>
              <tr>
                <td class="text-center"><h5>送货日期</h5></td>
                <td class="text-center form-group">
                  <select class="input-lg w100" ng-model="data.deliver_date" ng-options="m.name for m in dates" ng-change="dateChange();" required>
                    <option value="">请选择送货日期</option>
                  </select>
                </td>
                <td class="text-center"><h5>送货时间</h5></td>
                <td class="text-center">
                  <select class="input-lg w100" ng-model="data.deliver_time" ng-options="m.msg for m in times" required>
                    <option value="">请选择送货时间</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="text-center"><h5>订单备注</h5></td>
                <td class="text-left" colspan="3"><h5>{{data.remarks}}&nbsp;</h5></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered table-striped">
            <colgroup>
              <col class="col-xs-3">
              <col class="col-xs-3">
              <col class="col-xs-3">
              <col class="col-xs-3">
            </colgroup>
            <tbody>
              <tr>
                <td class="text-center" colspan="4"><h5>订单内容</h5></td>
              </tr>
              <tr>
                <td class="text-center"><h5><strong>商品名称</strong></h5></td>
                <td class="text-center"><h5><strong>单价</strong></h5></td>
                <td class="text-center"><h5><strong>数量</strong></h5></td>
                <td class="text-center"><h5><strong>小计</strong></h5></td>
              </tr>
              <tr ng-repeat="item in data.detail">
                <td class="text-center">
                  <h5>{{item.name}}</h5>
                  <span class="text-warning">
                    <small ng-repeat="spec in item.spec" ng-show="spec.val">
                      {{spec.name}}：{{spec.val}}<br>
                    </small>
                  </span>
                </td>
                <td class="text-center"><h5>{{item.price}}元</h5></td>
                <td class="text-center"><h5>{{item.quantity}}</h5></td>
                <td class="text-center">
                  <h5>{{item.sum_price}}元</h5>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-xs-12 btn-group form-group">
          <button class="btn col-xs-3 btn-lg btn-danger pull-left" ng-click="edit();" ng-if="deliver_flag">确认修改</button>
          <button class="btn col-xs-3 btn-lg btn-success" ng-click="back();">返回</button>
        </div>
      </form>
    </div>
  </div>
</div>
