<div class="container-fluid">
  <div class="width_change" id="row block-title">
    <div class="col-xs-offset-2">
      <div class="bs-callout bs-callout-danger">
        <h5>权限列表</h5>
      </div>
      <div class="bs-callout">
        <div class="block mt-10 ml-default">
          <!--时间筛选-->
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <input type="text" ng-model="searchValue" class="form-control" placeholder="请输入搜索关键词">
              </div>
            </div>
            <div class="form-group">
                <button class="btn-block btn btn-info" ng-click="search();"> 筛选 </button>
              </div>
              <div class="form-group">
                <button class="btn btn-block btn-warning" ng-click="reset()">重置</button>
              </div>
              <div class="form-group">
                <a class="btn btn-primary btn-sm" href="/privilege/create">添加权限</a>
              </div>
            </div>
            </div>
          </form>
      <div style="margin-top:10px;" class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-2">
          </colgroup>
          <thead>
            <tr>
              <td class="text-center"><h5>编号</h5></td>
              <td class="text-center"><h5>权限名称</h5></td>
              <td class="text-center"><h5>模块名称</h5></td>
              <td class="text-center"><h5>资源名称</h5></td>
              <td class="text-center"><h5>操作名称</h5></td>
              <td class="text-center"><h5>权限级别</h5></td>
              <td class="text-center"><h5>操作</h5></td>
            </tr>
          </thead>
          <tbody ng-if="list.length===0">
            <tr>
              <td colspan="8" class="text-center"><h5>暂无数据</h5></td>
            </tr>
          </tbody>
          <tbody ng-if="list.length>0">
            <tr ng-repeat="item in list">
              <td class="text-center"><h5>{{item.id}}</h5></td>
              <td class="text-left"><h5>{{item.pre_name}}</h5></td>
              <td class="text-center"><h5>{{item.module}}</h5></td>
              <td class="text-center"><h5>{{item.resource}}</h5></td>
              <td class="text-center"><h5>{{item.operation}}</h5></td>
              <td class="text-center"><h5>{{item.level}}</h5></td>
              <td class="text-center">
                <h5>
                  <a class="btn btn-info btn-sm" href="/privilege/edit/{{item.id}}">编辑</a>
                  <a class="btn btn-danger btn-sm" ng-click="delete($index)">删除</a>
                </h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <nav>
          <dachu-pagination conf="paginationConf"></dachu-pagination>
        </nav>
    </div>
  </div>
</div>
