<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">{{items.headerText}}</h3>
  </div>
  <div class="modal-body">
    <h2 class="text-center">{{items.bodyText}}</h2>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-if="items.actionText">
    {{items.actionText}}
    </button>
    <button class="btn btn-warning" ng-click="cancel()">{{items.closeText}}</button>
  </div>
</script>
<div class="col-xs-offset-2">
  <div class="bs-callout bs-callout-danger">
    <h5>{{title}}</h5>
  </div>
  
  <form class="form-horizontal"  novalidate  role="form" id="addForm" name="addForm">
    <div  class="row block ml-default bs-callout">
      <table class="table table-striped">
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em> 券活动信息 </b>
          </td>
          <td class="success col-xs-12">
            {{couponName}}
          </td>
        </tr>
       <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em> 所属系统 </b>
          </td>
          <td class="success col-xs-12">
            {{siteName}}
          </td>
        </tr>
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em>所属城市 </b>
          </td>
          <td class="success col-xs-12">
            {{locationName}}
          </td>
        </tr>
        <tr>
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em> 可见性 </b>
          </td>
          <td class="success col-xs-12">
            <select ng-model="visiable"  class="col-xs-4 input-md form-control"
              ng-options="m.name for m in visiables" required>
            </select>
          </td>
        </tr>
        <tr ng-if="visiable.id == 2">
          <td class="active col-xs-2">
            <b><em class="text-danger">*</em>添加指定用户 </b>
          </td>
          <td class="success col-xs-12">
            <div ng-repeat="item in users">
              <div class="col-xs-8">
                <input type="text"  ng-model="item.value"  class="form-control"
                name="name_value" id="name_value" required  placeholder="请输入用户手机号">
                <div ng-if="item.products">
                  <ul class="list-group col-xs-12">
                    <li class="list-group-item"  ng-click="selectUser(mitem, item)" ng-repeat="mitem in item.users">
                    <i class="text-danger">{{mitem.mobile}}</i>|<span>{{mitem.shop_name}}</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-4">
                <span class="btn btn-lg {{item.cls}}" ng-click="{{item.clk}}(item)">
                  <span class="glyphicon {{item.icon}}">{{item.name}}</span>
                </span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-success btn-md" ng-click="add(addForm)">保存</button>
            </div>
            <div class="col-xs-6">
              <button type="reset" class="btn btn-block btn-default btn-md" ng-click="reset()">重置</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
</div>
  <div class="block-title"></div>
