    <div class="col-xs-offset-2">
      <div class="bs-callout bs-callout-danger">
        <h5>{{title}}</h5>
      </div>
      <div class="bs-callout">
         <div class="block mt-10">
           <a ng-click="filterByStatus('all');" 
            ng-class="{'btn-info': status == 'all'}" class="btn">
            全部
            <span class="badge">{{total[4]}}</span>
          </a>
          <a ng-click="filterByStatus('0');"
            ng-class="{'btn-info': status == '0'}" class="btn">
            已禁用
            <span class="badge">{{total[2]}}</span>
          </a>
          <a ng-click="filterByStatus('3');"
            ng-class="{'btn-info': status == '3'}" class="btn">
            已使用
            <span class="badge">{{total[2]}}</span>
          </a>
          <a ng-click="filterByStatus('1');"
            ng-class="{'btn-info': status == '1'}" class="btn">
            可使用
            <span class="badge">{{total[2]}}</span>
          </a>
          <a ng-click="filterByStatus('2');"
            ng-class="{'btn-info': status == '2'}" class="btn">
            不可用
            <span class="badge">{{total[2]}}</span>
          </a>
          <a ng-click="filterByStatus('4');"
            ng-class="{'btn-info': status == '4'}" class="btn">
            已过期
            <span class="badge">{{total[2]}}</span>
          </a>

          </div>
        <div class="block mt-10 ml-default">
         <!--时间筛选-->
          <form class="form-inline" role="form">
           <div class="form-group">

              <div class="input-group">
                <div class="input-group-addon">关键词</div>
                <input type="text" ng-model="key" class="form-control" placeholder="用户手机号" />
              </div>
            </div>
            <div class="form-group">
              <button class="btn-block btn btn-info" ng-click="search();"> 筛选 </button>
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-warning" ng-click="reset();">重置 </button>
            </div>
          </form>
        </div>
          </div>

        <div class="table-responsive" style="margin-top:10px;">
          <table class="table table-bordered table-striped table-hover">
            <colgroup>
              <col class="col-xs-1">
              <col class="col-xs-1">
              <col class="col-xs-1">
              <col class="col-xs-2">
              <col class="col-xs-1">
              <col class="col-xs-1">
              <col class="col-xs-1">
              <col class="col-xs-1">
              <col class="col-xs-1">
              <col class="col-xs-1">
            </colgroup>
            <thead>
              <tr>
                <td><h5><em class="text-danger">券活动id</em></h5></td>
                <td class="text-center"><h5>客户信息</h5></td>
                <td class="text-center"><h5>券码</h5></td>
                <td class="text-center"><h5>券码状态</h5></td>
                <td class="text-center"><h5>所属站点</h5></td>
                <td class="text-center"><h5>所属城市</h5></td>
                <td class="text-center"><h5>减免信息</h5></td>
                <td class="text-center"><h5>有效时间段</h5></td>
                <td class="text-center"><h5>更新时间</h5></td>
                <td class="text-center"><h5>操作</h5></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in coupons">
                <td>
                  <h5><em class="text-danger">{{item.id}}({{item.detail.rule_type_cn}})</em></h5>
                </td>
                <td class="text-center">
                  <h5>{{item.customer_info.shop_name}}（{{item.customer_info.mobile}}）</h5>
                </td>
<td class="text-center">
                  <h5>{{item.coupon_code}}</h5>
                </td>
               <td class="text-center">
                  <h5>
                    <span ng-if="item.status == 0" class="label label-info">{{item.status_cn}}</span>
                    <span ng-if="item.status == 1" class="label label-success">{{item.status_cn}}</span>
                    <span ng-if="item.status == 2" class="label label-default">{{item.status_cn}}</span>
                    <span ng-if="item.status == 3" class="label label-warning">{{item.status_cn}}</span>
                    <span ng-if="item.status == 4" class="label label-danger">{{item.status_cn}}</span>
                 </h5>
                </td>
                <td class="text-center">
                  <h5>{{item.detail.site_cn}}</h5>
                </td>
                <td class="text-center">
                  <h5>{{item.detail.location_cn}}</h5>
                </td>
                <td class="text-center">
                  <h5 ng-if="item.require_amount > 0">满{{item.require_amount}} 元减免{{item.minus_amount}}元</h5>
                  <h5 ng-if="item.require_amount == 0">减免{{item.minus_amount}}元</h5>
                </td>
                <td class="text-center">
                  <h5>{{item.detail.valid_time}}至{{item.detail.invalid_time}}</h5>
                </td>
                <td class="text-center">
                  <h5>{{item.updated_time}}</h5>
                </td>
                <td class="text-center">
                  <h5>
                    <a ng-if="item.status == 1" class="btn btn-danger btn-sm btn_mb5" ng-click="setStatus(item, 0)">
                      禁用
                    </a>
                  </h5>
               </td>
              </tr>
            </tbody>
          </table>
         </div>
        <nav>
          <dachu-pagination conf="paginationConf"></dachu-pagination>
        </nav>
      </div>
    </div>
  </div>
</div>
